<section id="iconBoxes">
  <div class="container">
    <div class="col-lg-8 m-b-80 center">
      <div class="heading-text heading-line heading-section text-center">
        <h4>Kies voor de Totaaloplossing!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon">
            <i class="fa fa-heart red"></i>
          </div>
          <h3>Premium Design</h3>
          <p>Een volledig <strong>mobielvriendelijk</strong> en aanpasbaar design. 100% afgestemd naar <strong>jou wens!</strong></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon">
            <i class="fab fa-google blue"></i>
          </div>
          <h3>Google Optimalisatie</h3>
          <p>Zonder <strong>bezoekers</strong>, geen business. Wordt online <strong>gevonden</strong> dankzij slimme <strong>SEO</strong>-technieken!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon">
            <i class="fa fa-shield-alt green"></i>
          </div>
          <h3>Veilig en Secure</h3>
          <p>Wees <strong>hackers</strong> te slim af, voldoe aan de <strong>AVG</strong> en al je data netjes <strong>geback-upt</strong>.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="wobble infinite" data-animate-delay="1500">
            <i class="fa fa-mouse-pointer purple"></i>
          </div>
          <h3>Conversie Optimalisatie</h3>
          <p>Bezoekers zijn leuk, maar ze <strong>aanzetten tot actie</strong> is nog veel leuker! Bereik je doelen met handige <strong>CRO</strong>-oplossingen.  </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon">
            <i class="icon-activity orange"></i>
          </div>
          <h3>Bezoeker Statistieken</h3>
          <p>Meten is weten! Bekijk hoe je <strong>wordt gevonden</strong>, door wie en vanaf wat voor apparaat met <strong>Google Analytics</strong>.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon">
            <i class="fa fa-phone brown"></i>
          </div>
          <h3>Gratis Support</h3>
          <p>Als startende ondernemer moet je al genoeg alleen doen! Ik<strong> sta voor je klaar</strong> als je ergens niet uit komt. </p>
        </div>
      </div>
    </div>
  </div>
</section>
