::ng-deep iframe {
  height: 100%;
  width: 100%;
}

::ng-deep .tf-v1-widget-close {
  display: none;
}

.wrapper {
  background-color: #122771;
}

.close {
  opacity: 1;
  span {
    padding: 5px;
    color: #FFFFFF;
  }
}
