<div class="team-members team-members-card">
    <div class="team-member">
        <div class="team-image">
            <img title="Bas Gerritsen" alt="Bas Gerritsen" src="assets/images/roamersoft/Bas-Gerritsen.png"/>
        </div>
        <div class="team-desc">
            <h3>Bas Gerritsen</h3>
            <span>Full Stack Software Developer</span>
            <p></p>
            <div class="align-center">
                <a
                        class="btn btn-xs btn-slide btn-light"
                        target="_blanc"
                        href="https://www.linkedin.com/company/19186536"
                        data-width="118"
                >
                    <i class="fab fa-linkedin"></i>
                    <span>LinkedIn</span></a
                >
                <a
                        class="btn btn-xs btn-slide btn-light"
                        target="_blanc"
                        href="https://www.instagram.com/roamersoftnl/"
                        data-width="118"
                >
                    <i class="fab fa-instagram"></i>
                    <span>Instagram</span></a
                >

                <a
                        class="btn btn-xs btn-slide btn-light"
                        target="_blanc"
                        href="https://www.instagram.com/roamersoftnl/"
                        data-width="118"
                >
                    <i class="fab fa-facebook"></i>
                    <span>Facebook</span></a
                >
                <a
                        class="btn btn-xs btn-slide btn-light"
                        target="_blanc"
                        href="https://api.whatsapp.com/send?phone=+31612791550&text="
                        data-width="100"
                >
                    <i class="fab fa-whatsapp"></i>
                    <span>WhatsApp</span></a
                >
            </div>
        </div>
    </div>
</div>
