<section id="services">
  <div class="container">
    <div class="col-lg-8 m-b-80 center">
      <div class="text-center pb-2">
        <h3>{{ 'Bij een samenwerking ben je' | translate }}</h3>
      </div>
      <div class="heading-text heading-section text-center">
        <h2>{{ 'Verzekerd van' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box medium fancy" data-animate="fadeInLeft">
          <div class="icon">
            <i class="fa fa-heart red"></i>
          </div>
          <h3>{{ 'Betrokkenheid en advies' | translate }}</h3>
          <p>
            {{ 'Geen simpele codeklopper, maar ' | translate }}
            <strong>
              {{ 'een ondernemer ' | translate }}
            </strong>
            {{ 'die met je mee denkt en je ' | translate }}
            <strong>
              {{ 'voorziet van advies.' | translate }}
            </strong>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy" data-animate="fadeInLeft">
          <div class="icon">
            <i class="fa fa-code blue"></i>
          </div>
          <h3>{{ 'Kwaliteitsproducten' | translate }}</h3>
          <p>
            {{ 'Een gedegen ontwerp, ' | translate }}
            <strong>
              {{ 'solide fundering ' | translate }}
            </strong>
            {{ 'en efficiënte codering verzekeren ' | translate }}
            <strong>
              {{ 'de hoogste kwaliteit.' | translate }}
            </strong>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy" data-animate="fadeInLeft">
          <div class="icon">
            <i class="fa fa-check green"></i>
          </div>
          <h3>{{ 'Top projectmanagement' | translate }}</h3>
          <p>
            {{ 'Laat mij je ontzorgen met een' | translate }}
            <strong>
              {{ 'duidelijke planning, ' | translate }}
            </strong>
            {{ 'to-the-point communicatie en ' | translate }}
            <strong>
              {{ 'effectieve anticipatie.' | translate }}
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="row" data-animate="fadeInRight" data-animate="fadeInRight">
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon">
            <i class="fa fa-hourglass-half purple"></i>
          </div>
          <h3>{{ 'Toekomstbestendigheid' | translate }}</h3>
          <p>
            {{ 'Uitbreidbaarheid en ' | translate }}
            <strong>
              {{ 'overdraagbaarheid ' | translate }}
            </strong>
            {{ 'maken jouw applicatie onafhankelijk en ' | translate }}
            <strong>
              {{ 'toekomst ready.' | translate }}
            </strong>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy" data-animate="fadeInRight">
          <div class="icon">
            <i class="fa fa-diagnoses orange"></i>
          </div>
          <h3>{{ 'Een totaaloplossing' | translate }}</h3>
          <p>
            {{ 'Als ' | translate }}
            <strong>
              {{ 'full stack software developer ' | translate }}
            </strong>
            {{ 'neem ik zowel de ' | translate }}
            <strong>
              {{ 'front-end ' | translate }}
            </strong>
            {{ 'als de ' | translate }}
            <strong>
              {{ 'backend ' | translate }}
            </strong>
            {{ 'voor mijn rekening.' | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy" data-animate="fadeInRight">
          <div class="icon">
            <i class="fa fa-project-diagram brown"></i>
          </div>
          <h3>{{ 'Een hybride app' | translate }}</h3>
          <p>
            {{ 'Een applicatie die draait op' | translate }}
            <strong>
              {{ 'Android, iOS ' | translate }}
            </strong>
            {{ 'en op ' | translate }}
            <strong>
              {{ 'het web ' | translate }}
            </strong>
            {{ 'dankzij de nieuwste ' | translate }}
            <strong>
              {{ 'cross platform ' | translate }}
            </strong>
            {{ 'technologieën.' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
