.red{
  color: red !important;
}

.blue{
  color: #4285F3 !important;
}

.purple{
  color: #B620E0 !important;
}

.orange{
  color: darkorange !important;
}

.brown{
  color: brown !important;
}

.green{
  color: green !important;
}

.icon-activity{
  font-size: 150px !important;
}
