.red {
  color: red !important;
}

.blue {
  color: #4285f3 !important;
}

.purple {
  color: #b620e0 !important;
}

.orange {
  color: darkorange !important;
}

.brown {
  color: brown !important;
}

.green {
  color: green !important;
}

.green-bg {
  background-color: green !important;
}

.icon-activity {
  font-size: 150px !important;
}

.center {
  text-align: center;
}

.icon-boxx {
  position: relative;
}

.abso {
  position: absolute !important;
  bottom: 25px;
  width: 60%;
  left: 20%;
}
