<section id="portfolio" class="background-grey">
  <div class="container">
    <div data-animate="fadeInUp" class="heading-text heading-section text-center pb-0 mb-0">
      <h2>{{ 'Portfolio' | translate }}</h2>
    </div>
    <div data-animate="pulse" class="container">
      <!-- Portfolio -->
      <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">
        <!-- portfolio item -->
        <div class="portfolio-item pt-3 pl-3 pr-3 img-zoom">
          <div class="portfolio-item-wrap">
            <div class="portfolio-image">
              <img src="assets/portfolio/iapp/thumb.png" alt="{{ 'StoryTemple Interaction App' | translate }}" />
            </div>
            <div class="portfolio-description">
              <a data-lightbox="ajax" href="assets/portfolio/iapp/{{ 'en.html' | translate }}"><i class="icon-maximize"></i></a>
            </div>
          </div>
        </div>
        <!-- end: portfolio item -->
        <!-- portfolio item -->
        <div class="portfolio-item pt-3 pl-3 pr-3 img-zoom">
          <div class="portfolio-item-wrap">
            <div class="portfolio-image">
              <img src="assets/portfolio/helpmeremind/thumb.png" alt="{{ 'Help Me Remind App' | translate }}" />
            </div>
            <div class="portfolio-description">
              <a data-lightbox="ajax" href="assets/portfolio/helpmeremind/{{ 'en.html' | translate }}"><i class="icon-maximize"></i></a>
            </div>
          </div>
        </div>
        <!-- end: portfolio item -->
        <!-- portfolio item -->
        <div class="portfolio-item pt-3 pl-3 pr-3 img-zoom">
          <div class="portfolio-item-wrap">
            <div class="portfolio-image">
              <img src="assets/portfolio/ittoolkit/thumb.png" alt="{{ 'IT-Toolkit Web Application' | translate }}" />
            </div>
            <div class="portfolio-description">
              <a data-lightbox="ajax" href="assets/portfolio/ittoolkit/{{ 'en.html' | translate }}"><i class="icon-maximize"></i></a>
            </div>
          </div>
        </div>
        <!-- end: portfolio item -->
        <!-- portfolio item -->
        <div class="portfolio-item pt-3 pl-3 pr-3 img-zoom">
          <div class="portfolio-item-wrap">
            <div class="portfolio-image">
              <img src="assets/portfolio/wordpress/thumb.png" alt="{{ 'WordPress Deals' | translate }}" />
            </div>
            <div class="portfolio-description">
              <a data-lightbox="ajax" href="assets/portfolio/wordpress/{{ 'en.html' | translate }}"><i class="icon-maximize"></i></a>
            </div>
          </div>
        </div>
        <!-- end: portfolio item -->
      </div>
      <!-- end: Portfolio -->
    </div>
  </div>
</section>
