<section id="problem">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="lead text-dark">
                    Waarom het <strong>App Model Canvas?</strong>
                </h1>

                <p>
                    Toen ik voor mijzelf begon was mijn eerste gedachte <strong>"Ik moet een website hebben!"</strong>.
                    Dus ik ging aan de slag met
                    mijn "online visitekaartje". Ik maakte een mooie website, schreef teksten, voegde wat plaatjes toe
                    en zette mijn contactinformatie
                    erop. Klaar!
                </p>

                <!-- Only on mobile -->
                <div class="col-md-12 pr-5 d-md-none">
                    <img
                            src="assets/images/bas_gerritsen.jpg"
                            class="rounded mx-auto d-block"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Maak niet dezelfde fouten als ik!"
                            alt="Website of Webshop laten maken?"
                    />
                    <p class="text-center pt-2"><strong>Bas Gerritsen - RoamerSoft</strong></p>
                </div>

                <p>
                    Het resultaat? Een prachtige website die mij helemaal niks bracht. Er kwamen nauwelijks bezoekers,
                    doordat ik niet in Google
                    gevonden werd. En als er bezoekers kwamen dan gingen ze niet over op actie, doordat ik totaal
                    <strong>niet had nagedacht over conversie!</strong>
                </p>

                <p>
                    Helemaal fout dus! De website moest niet het doel zijn, maar een middel om het te bereiken! Mijn
                    website moet niet een "online
                    visitekaartje" zijn, maar virtueel vastgoed. <strong>Een duidelijke vindbare plek </strong> waar
                    bezoekers in en uit lopen en
                    overgaan tot actie!
                </p>
            </div>

            <!-- Only on large screens -->
            <div class="col-md-4 pt-3 d-none d-md-block">
                <img
                        src="assets/images/bas_gerritsen.jpg"
                        class="rounded mx-auto d-block"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Maak niet dezelfde fouten als ik!"
                        alt="Website of Webshop laten maken?"
                />
                <p class="text-center pt-2"><strong>Bas Gerritsen - RoamerSoft</strong></p>
            </div>
        </div>
    </div>
</section>
