<section id="problem">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="lead text-dark">
                    Waarom het <strong>App Model Canvas?</strong>
                </h1>

                <p class="text-dark">
                    Al jaren help ik ondernemers met het realiseren van hun applicatie ideeën. Daarbij merkte ik al gauw
                    dat veel ondernemers hun <strong>te bereiken doel</strong> uit het oog verliezen en zich blind
                    staren op allerlei (onnodige) functionaliteiten. Vaak met onnodige hoge kosten en lange
                    ontwikkelprojecten tot gevolg.
                </p>

                <!-- Only on mobile -->
                <div class="col-md-12 pr-5 d-md-none">
                    <img
                            src="assets/images/Bas_Gerritsen.jpg"
                            class="rounded mx-auto d-block"
                            data-toggle="tooltip"
                            data-placement="top"
                            title=" Een applicatie is nooit het doel op zich, maar een middel om een bepaald doel te bereiken."
                            alt="Bas Gerritsen - RoamerSoft"
                    />
                    <p class="text-center pt-2">
                        <strong>Bas Gerritsen</strong>
                        <br/>
                        Eigenaar RoamerSoft
                    </p>
                </div>

                <p class="text-dark">
                    Een goed begin is het halve werk en daarom moet je <strong>als ondernemer</strong> eerst na gaan
                    voor welk probleem
                    of kans je de oplossing gaat ontwikkelen en ervoor zorgen dat je het gehele concept goed helder
                    krijgt.
                </p>

                <p class="text-dark">
                    Wie zijn je concurenten? Wat zijn jou onderscheidende kernfunctionaliteiten?
                    Waar zitten de factoren die je helpen tot success en, nog belangrijker, waar zitten <strong>de
                    faalfactoren die</strong> een
                    succesvolle app ontwikkeling in de weg kunnen staan?
                </p>

                <p class="text-dark">
                    Om mijn klanten hierbij goed te adviseren, maak ik regelmatig gebruikt van een tool genaamd het
                    ‘App Model Canvas’. Het app model canvas forceert je vanuit 15 verschillende invalshoeken te kijken
                    naar jouw app idee en zorgt ervoor dat je de <strong>'MVP' helder krijgt</strong> om jouw koers te
                    bepalen.
                </p>

            </div>

            <!-- Only on large screens -->
            <div class="col-md-4 pt-5 d-none d-md-block">
                <img
                        src="assets/images/Bas_Gerritsen.jpg"
                        class="rounded mx-auto d-block"
                        data-toggle="tooltip"
                        data-placement="top"
                        title=" Een applicatie is nooit het doel op zich, maar een middel om een bepaald doel te bereiken."
                        alt="Bas Gerritsen - RoamerSoft"
                />
                <p class="text-center pt-2">
                    <strong>Bas Gerritsen</strong>
                    <br/>
                    Eigenaar RoamerSoft
                </p>
            </div>
            <!-- end: Only on large screens -->

        </div>
    </div>
</section>
