<!-- Welcome -->
<section id="welcome">
  <div class="container-fluid">
    <div class="row">
      <div data-animate="fadeInUp" class="col-lg-4 offset-lg-1 col-md-12 m-t-40">
        <h4 class="mt-3">About us</h4>
        <h2>Set your goals high, and don't stop till you get there.</h2>
        <p class="lead">
          Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare. Fusce id
          mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu.
        </p>
        <a href="#services" class="btn btn-dark btn-outline btn-rounded">Our Services</a>
      </div>
      <!-- Device images -->
      <div class="col-lg-6 col-md-12 p-0">
        <div class="devices">
          <div data-animate="fadeInRightBig" class="iphone">
            <!-- iphone -->
            <img src="/assets/images/devices/iphone.png" class="img-fluid" alt="devices" />
          </div>
          <div data-animate="fadeInRightBig" class="ipad">
            <!-- ipad -->
            <img src="/assets/images/devices/ipad.png" class="img-fluid" alt="devices" />
          </div>
          <div data-animate="fadeInRightBig" class="macbook">
            <!-- macbook -->
            <img src="/assets/images/devices/macbookpro.png" class="img-fluid" alt="devices" />
          </div>
        </div>
      </div>
      <!-- end: Device images -->
    </div>
  </div>
</section>
<!-- end: Welcome -->
