<section id="welcome">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 offset-lg-1 col-md-12 m-t-40">
        <h4 data-animate="fadeInLeft" class="mt-3">{{ 'Custom made' | translate }}</h4>
        <h2 data-animate="fadeInLeft" data-animate-delay="300">{{ 'Software for Every Device' | translate }}</h2>
        <p data-animate="fadeInLeft" class="lead">
          {{
            'Do you need a Mobile App which runs on both Android and Apple iOS? Or do you need an application to improve your business process efficiency? Or maybe a Website or Web Shop to get your name out and raise sales?'
              | translate
          }}
        </p>
        <!-- Device images only visible on phone -->
        <div class="col-md-12 p-0 d-sm-block d-lg-none">
          <div class="devices mb-2">
            <div data-animate="fadeInRightBig" class="iphone">
              <!-- iphone -->
              <img src="/assets/images/devices/iphone.png" class="img-fluid" alt="devices" />
            </div>
            <div data-animate="fadeInRightBig" class="ipad">
              <!-- ipad -->
              <img src="/assets/images/devices/ipad.png" class="img-fluid" alt="devices" />
            </div>
            <div data-animate="fadeInRightBig" class="macbook">
              <!-- macbook -->
              <img src="/assets/images/devices/macbookpro.png" class="img-fluid" alt="devices" />
            </div>
          </div>
        </div>
        <!-- end: Device images -->
        <p data-animate="fadeInLeft" class="lead">
          {{
            'Whether it is a Mobile App, an advanced web application, a website or Web shop. I create the application which suits your needs, an application of the highest quality and which runs smoothly and exactly the same on all devices.'
              | translate
          }}
        </p>
        <a data-animate="fadeInUp" href="#services" class="btn btn-outline btn-rounded mt-3 mb-3 scroll-to">{{ 'More about my services' | translate }}</a>
      </div>
      <!-- Device images only visible on larger screens -->
      <div class="col-lg-6 col-md-12 p-0 d-none d-sm-none d-lg-block">
        <div class="devices mt-md-5">
          <div data-animate="fadeInRightBig" class="iphone">
            <!-- iphone -->
            <img src="/assets/images/devices/iphone.png" class="img-fluid" alt="devices" />
          </div>
          <div data-animate="fadeInRightBig" class="ipad">
            <!-- ipad -->
            <img src="/assets/images/devices/ipad.png" class="img-fluid" alt="devices" />
          </div>
          <div data-animate="fadeInRightBig" class="macbook">
            <!-- macbook -->
            <img src="/assets/images/devices/macbookpro.png" class="img-fluid" alt="devices" />
          </div>
        </div>
      </div>
      <!-- end: Device images -->
    </div>
  </div>
</section>
