<section id="promise" class="background-blue text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div data-animate="fadeIn" class="col-lg-9r">
        <h3 class="text-light">{{ 'Client Promise' | translate }}</h3>
        <p class="lead text-light">
          {{
            'The promise that I make to all my clients is that I deliver high quality products and services which are giving real value to the client’s main goal and that it makes no difference for whether the way of working or the results if I work remotely or on a specific location.'
              | translate
          }}
        </p>
        <a href="#workingMethod" class="btn btn-light btn-outline btn-rounded scroll-to">{{ 'Checkout My Working Method' | translate }}</a>
      </div>
    </div>
  </div>
</section>
