<section id="problem">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="lead text-dark">
                    Waarom een <strong>Gratis Adviesgesprek?</strong>
                </h1>

                <p class="text-dark">
                    E-mail, Whatsapp en chatten zijn geweldige hulpmiddelen, maar voor échte informatievoorziening werkt
                    het altijd nog het beste om even<strong> snel te kunnen schakelen.</strong>
                    Daar is ook mijn gratis adviesgesprek voor bedoeld.
                </p>

                <!-- Only on mobile -->
                <div class="col-md-12 pr-5 d-md-none">
                    <img
                            src="assets/images/roamersoft/Adviesgesprek-met-Bas-Gerritsen.png"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Gratis advies van Bas Gerritsen"
                            alt="Bas Gerritsen - RoamerSoft"
                            loading="lazy"
                    />
                    <p class="text-center">
                        <strong>Bas Gerritsen</strong>
                        <br/>
                        Eigenaar RoamerSoft
                    </p>
                </div>
                <!-- end: Only on mobile -->

                <p class="text-dark">
                    Een gratis adviesgesprek <strong>duurt zo’n 30 minuten</strong> en vindt plaats via Zoom. Tijdens
                    het adviesgesprek
                    neem ik uitgebreid de tijd om van je te horen waar je naar op zoek bent. Ik kan alvast <strong>met
                    je
                    meedenken</strong> richting een oplossing en na ons gesprek ontvang je het gratis advies in je
                    mailbox.
                </p>

                <p class="text-dark">
                    Meestal komen mijn klanten er tijdens hun adviesgesprek achter dat er vaak nog <strong>véél meer
                    oplossingen</strong>
                    voor hun uitdagingen mogelijk zijn dan dat ze voorheen hadden bedacht.
                </p>

                <p class="text-dark">
                    Alleen daarom al is een
                    gratis adviesgesprek <strong>ongelofelijk waardevol.</strong>
                </p>

            </div>

            <!-- Only on large screens -->
            <div class="col-md-5 pt-4 d-none d-md-block">
                <div class="img-wrapper">
                    <img
                            src="assets/images/roamersoft/Adviesgesprek-met-Bas-Gerritsen.png"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Gratis advies van Bas Gerritsen"
                            alt="Bas Gerritsen - RoamerSoft"
                            loading="lazy"
                    />

                    <p class="text-center">
                        <strong>Bas Gerritsen</strong>
                        <br/>
                        Eigenaar RoamerSoft
                    </p>
                </div>
            </div>
            <!-- end: Only on large screens -->

        </div>
    </div>
</section>
