<footer id="footer" class="inverted">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- Footer widget area 1 -->
          <div
            class="widget widget-contact-us"
            style="background-image: url('assets/images/world-map.png'); background-position: 50% 20px; background-repeat: no-repeat;"
          >
            <h4>RoamerSoft</h4>
            <ul class="list-icon">
              <li>
                <i class="fa fa-map-marker-alt"></i>
                {{ 'Working Worldwide Remotely' | translate }}
              </li>
              <li><i class="far fa-envelope"></i> <a href="mailto:info@roamersoft.com">info@roamersoft.com</a></li>
              <li><i class="fa fa-phone"></i><a href="tel:+31612791550">+31 (0)6 12 791550</a></li>
              <li><i class="fab fa-skype"></i><a href="https://join.skype.com/invite/lAz4cN9Ijnar">RoamerSoft</a></li>
            </ul>
          </div>
          <!-- end: Footer widget area 1 -->
        </div>

        <div class="col-lg-4">
          <!-- Footer widget area 2 -->
          <div class="widget">
            <h4>INFO</h4>
            <ul class="list">
              <li>
                <a href="assets/documents/Privacy_Verklaring.pdf" target="_blank">{{ 'Privacy Disclaimer' | translate }}</a>
              </li>
              <li>
                <a href="assets/documents/Algemene_Voorwaarden.pdf" target="_blank">{{ 'Terms and Conditions' | translate }}</a>
              </li>
              <li>
                <a href="#footer" class="scroll-to">{{ 'VAT ID:' | translate }} NL002236315B59</a>
              </li>
              <li>
                <a href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=749365570000" target="_blank"
                  >{{ 'Chamber of Commerce No.:' | translate }} 74936557</a
                >
              </li>
            </ul>
          </div>
          <!-- end: Footer widget area 2 -->
        </div>

        <div class="col-lg-4">
          <div *ngIf="this.error" class="alert alert-danger" role="alert">
            {{this.error | translate}}
          </div>
          <div *ngIf="this.success" class="alert alert-success" role="alert">
            {{this.success | translate}}
          </div>
          <form id="contactForm" class="widget-contact-form" novalidate method="">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              </div>
              <input
                type="text"
                aria-required="true"
                required
                [(ngModel)]="this.input.name"
                name="name"
                class="form-control required name"
                placeholder="{{ 'Enter your Name' | translate }}"
              />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              </div>
              <input
                type="email"
                aria-required="true"
                required
                [(ngModel)]="this.input.email"
                name="email"
                class="form-control required email"
                placeholder="{{ 'Enter your Email' | translate }}"
              />
            </div>
            <div class="form-group mb-2">
              <textarea
                type="text"
                aria-required="true"
                required
                [(ngModel)]="this.input.message"
                name="message"
                rows="5"
                class="form-control required"
                placeholder="{{ 'Enter your Message' | translate }}"
              ></textarea>
            </div>
            <div class="form-group">
              <button class="btn" (click)="onSubmit()"><i class="fa fa-paper-plane"></i>&nbsp;{{ 'Send message' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Social icons -->
          <div class="social-icons social-icons-colored-hover">
            <ul>
              <li class="social-facebook">
                <a href="https://www.facebook.com/RoamerSoft-287897755483538" target="_blanc"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="social-linkedin">
                <a href="https://www.linkedin.com/company/19186536" target="_blanc"><i class="fab fa-linkedin"></i></a>
              </li>
              <li class="social-github">
                <a href="https://github.com/RoamerSoft" target="_blanc"><i class="fab fa-github"></i></a>
              </li>
            </ul>
          </div>
          <!-- end: Social icons -->
        </div>

        <!-- Copy right -->
        <div class="col-lg-6 text-lg-right">
          <div class="copyright-text">{{ 'RoamerSoft.com © 2020 All Rights Reserved.' | translate: param }}</div>
        </div>
        <!-- end: Copy right -->
      </div>
    </div>
  </div>
</footer>
