<!-- Mission -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 m-t-50">
        <img class="image mb-2" src="assets/images/dream.svg" data-animate="fadeIn" alt="Dream Big!" />
      </div>
      <div class="col-lg-8 offset-1">
        <h4 data-animate="fadeInRight" class="m-b-10">{{ 'Why choose' | translate }}</h4>
        <h2 data-animate="fadeInRight" data-animate-delay="300" class="m-b-10">{{ 'RoamerSoft?' | translate }}</h2>
        <p data-animate="fadeInRight" data-animate-delay="500" class="lead">
          {{
            'RoamerSoft stands for freedom; the freedom to follow dreams. I create possibilities with the newest technologies, possibilities to realize dreams.'
              | translate
          }}
        </p>
        <p data-animate="fadeInRight" data-animate-delay="600" class="lead">
          {{
            'Creating such possibilities is not going to work by just working on a list of requirements and handing over the result. No, it requires me to really understand your dream. What is it what you want to accomplish? What is the end goal? Which possibilities can we use and which techniques fits the best to realize it?'
              | translate
          }}
        </p>
        <p data-animate="fadeInRight" data-animate-delay="700" class="lead">
          {{
            'So, why RoamerSoft? You choose to work with me if you want to follow your dreams, just like myself. Dreams can be big or small. A simple website to get your name out into the open or that mobile app which will change the world. I can create the possibilities for you to follow your dreams.'
              | translate
          }}
        </p>
        <p data-animate="fadeInUp" data-animate-delay="1000" class="lead">
          {{ 'My dream can be found at the bottom of this page. What is your dream?' | translate }}
        </p>
        <a data-animate="fadeInUp" data-animate-delay="1000" href="" class="btn btn-outline btn-rounded mt-3 mb-3 scroll-to">{{ 'Checkout My Dream' | translate }}</a>
      </div>
    </div>
  </div>
</section>
<!-- end: Mission -->
