<section class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-12 image-container-top">
                <div class="text-center">
                    <a (click)="buttonClicked.emit()">
                        <img src="https://i.imgur.com/re8zooF.gif"
                             title="Gratis adviesgesprek met Bas Gerritsen van RoamerSoft"/>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="lead text-dark">
                    <strong>Idee voor een app</strong>, maar kun je wel wat advies gebruiken?
                </div>

                <div class="list">
                    <ul class="list-icon list-icon-check list-icon-colored mt-3">
                        <li><strong>Gratis advies</strong> over de realisatie van jouw applicatie</li>
                        <li>Laat de expert met je meedenken en kom tot nieuwe inzichten</li>
                        <li>Krijg een goed <strong>beeld van de mogelijkheden</strong> in jouw ontwikkelproces!</li>
                        <li>Gewoon even informeel en zonder verplichtingen sparren...</li>
                        <li>Ontvang een gedegen tijdsinschatting en <strong>betrouwbare prijsindicatie</strong></li>
                        <li>Voorkom dat je de verkeerde keuzes maakt door een gebrek aan ervaring!</li>
                        <li><strong>In 30 minuten</strong> het gevoel hebben om al véél wijzer te zijn</li>
                        <li>Een waardevolle stap naar de applicatie die je helpt je doelen te bereiken!</li>
                        <li>Maak goede <strong>doordachte keuzes</strong> waarmee je verder kunt...</li>
                        <li>Volledig online, gratis en op een moment dat jou het beste uitkomt</li>
                    </ul>
                </div>

                <div class="download-button">
                    <a (click)="buttonClicked.emit()" class="btn scroll-to call-to-action call-to-action-colored">Plan
                        gratis
                        adviesgesprek</a>
                </div>


            </div>

            <div class="col-md-4 pt-5 image-container-right">
                <div class="text-center pt-2">
                    <a (click)="buttonClicked.emit()" class="pointer">
                        <img src="https://i.imgur.com/re8zooF.gif"
                             title="Gratis adviesgesprek met Bas Gerritsen van RoamerSoft"/>
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>
