
.comment {
  display: -webkit-box;
  //-webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 575px) {
  .comment {
    -webkit-line-clamp: 10;
  }
}


@media screen and (min-width: 768px) {
  .comment {
    -webkit-line-clamp: 8;
  }
}

@media screen and (min-width: 1200px) {
  .comment {
    -webkit-line-clamp: 9;
  }
}
