<div class="body-inner">
  <app-nav-bar></app-nav-bar>

  <app-wd-landing-slider></app-wd-landing-slider>

  <app-wd-icon-boxes></app-wd-icon-boxes>

  <app-wd-problem></app-wd-problem>

  <app-wd-interuption-text quote="Lorem ipsum dolor sit amet, Suspendisse condimentum porttitor cursumus!"></app-wd-interuption-text>

  <app-wd-solution></app-wd-solution>

  <app-wd-testimonials></app-wd-testimonials>

  <app-wd-interuption-text quote="Lorem ipsum dolor sit amet, Suspendisse condimentum porttitor cursumus!"></app-wd-interuption-text>

  <app-wd-prices></app-wd-prices>

  <app-wd-faq></app-wd-faq>

  <app-footer></app-footer>

  <app-cookie-bar></app-cookie-bar>
</div>
