<section id="brands">
  <div class="container">
    <div class="heading-text heading-line text-center">
      <h4>Werken met <strong>Betrouwbare Partijen?</strong></h4>
    </div>
    <div class="heading-text text-center pb-2">
      <h5>
        Alleen de beste Merken en Systemen zijn goed genoeg!
      </h5>
    </div>
    <div class="row justify-content-center" data-animate="fadeInUp">
      <div>
        <ul class="grid grid-5-columns">
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="WordPress website laten maken."
              title="Het vertrouwde WordPress CMS!"
              src="assets/images/webdeals/brands/WordPress_website_laten_maken.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Webshop met PostNL!"
              title="PostNL Verzending!"
              src="assets/images/webdeals/brands/Webshop_met_PostNL.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Veilig en Secure!"
              title="Geen spam dankzij reCAPTCHA!"
              src="assets/images/webdeals/brands/Veilig_en_Secure.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Website voor alle browsers en apparaten!"
              title="Geschikt voor alle browsers en apparaten!"
              src="assets/images/webdeals/brands/Website_voor_alle_browsers_en_apparaten.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Bezoekers Statistieken!"
              title="Live Bezoekers Statistieken!"
              src="assets/images/webdeals/brands/Bezoeker_ Statistieken.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Website inclusief hosting!"
              title="Super Snelle Hosting!"
              src="assets/images/webdeals/brands/Website_inclusief_hosting.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Webshop met iDEAL!"
              title="iDEAL Betalingen!"
              src="assets/images/webdeals/brands/Webshop_met_iDEAL.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Webshop met DHL!"
              title="DHL Verzending!"
              src="assets/images/webdeals/brands/Webshop_met_DHL.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Webshop met Mollie!"
              title="Alle Vertrouwde Betaalmethodes!"
              src="assets/images/webdeals/brands/Webshop_met_Mollie.jpg"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="WordPress Webshop laten maken!"
              title="WooCommerce WebShop!"
              src="assets/images/webdeals/brands/WordPress_webshop_laten_maken.jpg"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
