<section id="" class="p-4">
  <div class="container">
    <div class="heading-text heading-line text-center">
      <h4>Alleen de beste merken!</h4>
    </div>
    <div
      class="carousel client-logos"
      data-items="6"
      data-items-sm="4"
      data-items-xs="4"
      data-items-xxs="4"
      data-margin="10"
      data-arrows="false"
      data-autoplay="true"
      data-autoplay="1500"
      data-loop="true"
    >
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"
          ><img alt="WT Interactive" src="assets/images/clients/wt_interactive.png" />
        </a>
      </div>
    </div>
  </div>
</section>
