<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider pt-0 slider-fullscreen dots-creative">
  <!-- Slide 1 -->
  <div class="slide kenburns" data-bg-image="/assets/images/roamersoft/roamersoft-bg.jpg">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="slide-captions text-center ">
        <div class="roamersoft-text">
          <img
            class="img-fluid"
            src="/assets/images/roamersoft/roamersoft-text.svg"
            alt="RoamerSoft Logo"
          />
        </div>
        <hr />
        <!-- Captions -->
        <h1 class="services text-dark" *ngIf="browserLanguage === 'nl'; else enLanguage">
          <span class="text-rotator mb-0" data-animation="fadeIn" data-speed="5000">
            Web en app ontwikkeling, Cross platform mobiele apps, Webapplicaties op maat, Full stack
            developer
          </span>
        </h1>

        <ng-template #enLanguage>
          <h1 class="services">
            <span class="text-rotator mb-0 text-dark" data-animation="fadeIn" data-speed="5000">
              Web and App Development, Cross-Platform Mobile Apps, Tailored Web Applications, Full
              Stack Developer
            </span>
          </h1>
        </ng-template>

        <div>
          <a href="#welcome" class="btn btn-outline scroll-to">{{
            'Meer informatie' | translate
          }}</a>
        </div>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->
