<section id="faq">
    <div class="container">
        <div class="col-lg-8 m-b-80 center">
            <div class="text-center pb-2">
                <h3>{{ 'Ja, maar.....' | translate }}</h3>
            </div>
            <div class="heading-text heading-section text-center">
                <h2>{{ 'Veel Gestelde Vragen' | translate }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="content col-lg-6 mb-0">
                <div class="accordion accordion-shadow">
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i> {{ 'Waarom de naam RoamerSoft?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p
                                    [innerHTML]="
                  'Het slaat op mijn leefstijl. Ik wil mij niet binden aan een vaste plek of land, maar gaan en staan waar ik wil. <strong>“Roaming the world”</strong> is een van mijn grootste passies. Toen ik dit combineerde met mijn andere grote passie, <strong>software development</strong>, kwam ik uit op RoamerSoft.'
                    | translate
                "
                            ></p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i> {{ 'Werk je 100% op afstand?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p
                                    [innerHTML]="
                  'Yes, ik leef als een zogenaamde <strong>digital nomad</strong>. Dit houdt in dat ik mij niet aan een vaste locatie bind en vaak <strong>werk vanuit het buitenland.</strong>'
                    | translate
                "
                            ></p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i>
                            {{ 'Hoe zorg je voor optimaal contact met je klanten?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p
                                    [innerHTML]="
                  'De technieken van tegenwoordig maken fysieke contactmomenten overbodig. Uiteraard kan er gebeld worden, maar <strong>voor veel klanten bieden e-mails, WhatsApp en video calls de uitkomst.</strong>'
                    | translate
                "
                            ></p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i> {{ 'Wat is een full stack developer?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p
                                    [innerHTML]="
                  'Als full stack developer kan ik zowel de <strong>frontend</strong> realiseren (dat wat de klant ziet) en de <strong>backend</strong> (het centrale hart van het systeem). Zo maak ik bijvoorbeeld op de backend een zo genoemde <strong>API</strong> die frontend kan voorzien van de benodigde data.'
                    | translate
                "
                            ></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content col-lg-6 mb-0">
                <div class="accordion accordion-shadow">
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i>
                            {{ 'In welke programmeertalen ben je gespecialiseerd?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p
                                    [innerHTML]="
                  'Programmeertalen als C#, Java en PHP zijn mij allesbehalve vreemd, maar mijn specialisme richt zich vooral op <strong>TypeScript en Node.js</strong>. Veel ervaring heb ik dan ook met frameworks als <strong>Angular, Ionic en NestJS.</strong>'
                    | translate
                "
                            ></p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i>
                            {{ 'Wat is een cross-platform app?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p
                                    [innerHTML]="'In de begintijd van de apps moest je voor elke systeem (Android, iOS etc…) een aparte app ontwikkelen. Tegenwoordig biedt voor de meeste projecten een <strong>cross-platform app</strong> de uitkomst. Hiermee kan ik met één codebase een app ontwikkelen <strong>die op zowel Android als Apple iOS draait.</strong> Twee vliegen in één klap!' | translate"
                            ></p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i>
                            {{ 'Hoe zit het met serverbeheer en onderhoud?' | translate }}
                        </h5>
                        <div class="ac-content">
                            <p [innerHTML]="'Voor het beheer van en onderhoud aan je (backend) server en/of app winkelpagina’s heb ik verschillende pakketten samengesteld.' | translate"></p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">
                            <i class="fa fa-question"></i>
                            {{ 'Hoe zorg je dat ik niet te afhankelijk van je wordt?' | translate }}
                        </h5>
                        <div class="ac-content underline-link">
                            <p
                                    [innerHTML]="
                  'Een goede software engineer denkt toekomst gericht en zorgt dat zijn product <strong>uitbreidbaar en overdraagbaar</strong> is. Denk aan duidelijke commentaar in de code en overzichtelijke to the point documentatie. Daarnaast ontwikkel ik in <strong>de populaire techniek ‘Docker’</strong> welke het mogelijk maakt om de programmatuur plug and play te verplaatsen naar andere server.'
                    | translate
                "
                            ></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
