<!-- Section -->
<section>
  <div class="container">
    <!--Fancy icons-->
    <div class="heading-text heading-line text-center">
      <h4>Fancy icons</h4>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="bounce infinite">
            <a href="#"><i class="fa fa-car"></i></a>
          </div>
          <h3>Powerful template</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="pulse infinite">
            <a href="#"><i class="fa fa-heart"></i></a>
          </div>
          <h3>Flexible Layouts</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="flash infinite">
            <a href="#"><i class="far fa-lightbulb"></i></a>
          </div>
          <h3>Retina Ready</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="bounce infinite">
            <a href="#"><i class="fa fa-car"></i></a>
          </div>
          <h3>Powerful template</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="pulse infinite">
            <a href="#"><i class="fa fa-heart"></i></a>
          </div>
          <h3>Flexible Layouts</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="flash infinite">
            <a href="#"><i class="far fa-lightbulb"></i></a>
          </div>
          <h3>Retina Ready</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="bounce infinite">
            <a href="#"><i class="fa fa-car"></i></a>
          </div>
          <h3>Powerful template</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="pulse infinite">
            <a href="#"><i class="fa fa-heart"></i></a>
          </div>
          <h3>Flexible Layouts</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box medium fancy">
          <div class="icon" data-animate="flash infinite">
            <a href="#"><i class="far fa-lightbulb"></i></a>
          </div>
          <h3>Retina Ready</h3>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
      </div>
    </div>
    <!--End: Fancy icons-->
  </div>
</section>
<!-- end: Section -->
