<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 pb-4">
        <iframe
          data-animate="fadeInUp"
          src="https://www.youtube.com/embed/uflp13XLraw"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-xl-5 pl-4 pl-xl-2 wrapper">
        <h4 class="m-b-10">{{ 'Vertrouw op RoamerSoft en' | translate }}</h4>
        <h2 class="m-b-10">{{ 'Kies voor' | translate }}</h2>
        <ul class="lead list-icon list-icon-check list-icon-colored pt-3">
          <li>{{ 'Een full stack software developer;' | translate }}</li>
          <li>{{ 'Hoge product- en projectmanagementkwaliteit;' | translate }}</li>
          <li>{{ 'Expertise in cross platform apps en het web;' | translate }}</li>
          <li>{{ 'Betrokkenheid en advies;' | translate }}</li>
          <li>{{ 'Een remote werker met liefde voor zijn vak. ❤️' | translate }}</li>
        </ul>
        <a
          data-animate="fadeInRightBig"
          data-animate-delay="500"
          href="#footer"
          class="btn scroll-to contact-btn"
          >{{ 'Neem contact op!' | translate }}</a
        >
      </div>
    </div>
  </div>
</section>
