<section id="about" class="background-grey">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 center">
        <div class="text-center pb-2">
          <h3>{{ "Laat mij mezelf" | translate }}</h3>
        </div>
        <div class="heading-text heading-section text-center">
          <h2>{{ "Even voorstellen" | translate }}</h2>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 video" data-animate="fadeInUp">
        <iframe
          src="https://www.youtube.com/embed/uflp13XLraw?modestbranding=1&showinfo=0&rel=0"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
