<section id="solution">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-animate="fadeIn">
        <img src="assets/images/happy_with_webdeal.jpg" class="img-fluid rounded pb-1" title="Bas Gerritsen" alt="Bas Geritsen" />
        <p class="font-weight-800 text-center">Zorgeloos een effectieve website of webshop!</p>
      </div>
      <div class="col-lg-6">
        <div class="heading-text heading-section">
          <h4 data-animate="fadeInRight">De oplossing speciaal voor startende ondernemers!</h4>
          <p data-animate="fadeInUp">
            Voorkom de veelgemaakte fouten bij een <strong>Website of Webshop</strong> met een <strong>RoamerSoft WebDeal!</strong> Speciaal
            voor de startende ondernemer heb ik een dienst ontworpen waarin het behalen van de achterliggende doelstelling centraal staat.
          </p>

          <p data-animate="fadeInUp">
            Een website of webshop waarbij <strong>aan alles is gedacht</strong>! Van een prachtig design tot aan Google optimalisatie en
            van je eigen domeinnaam tot aan het voldoen van de AVG!
          </p>
          <a class="btn scroll-to" data-animate="fadeInUp" href="#prices">Bekijk webdeals!</a>
        </div>
      </div>
    </div>
  </div>
</section>
