<section class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-12 e-book-container-top">
                <div class="text-center">
                    <img src="../../../../../assets/images/ebook/App_idee_maar_waar_te_beginnen.png"
                         class="img-fluid"
                         alt="Responsive image">
                </div>
            </div>

            <div class="col">
                <div class="lead text-dark">
                    <strong>Idee voor een app</strong>, maar geen idee waar te beginnen?
                </div>

                <div class="list">
                    <ul class="list-icon list-icon-check list-icon-colored mt-3">
                        <li>Zet de eerste stap naar de realisatie van jouw applicatie</li>
                        <li>Voorkom onnodige hoge kosten en het worden van een stuurloos schip...</li>
                        <li><strong>Een solide basis</strong> met het 'App Model Canvas' voor jouw ontwikkelproces!</li>
                        <li>Meteen aan de slag met de bijgeleverde doe-het-zelf templates</li>
                        <li>De stap-voor-stap blauwdruk voor een <strong>succesvolle applicatie</strong></li>
                        <li>Voorkom dat je de desastreuze faalfactoren niet in zicht hebt!</li>
                        <li>Creëer overzicht en structuur en volg een duidelijke visie voor jouw applicatie</li>
                        <li><strong>Praktische voorbeelden</strong> met een compleet ingevuld voorbeeld canvas</li>
                        <li>Kijk vanuit 15 invalshoeken naar jouw idee en creëer een '<strong>MVP</strong>'</li>
                        <li>Ga voor die applicatie die je helpt je doelen te bereiken!</li>
                        <li>Zo maak je een <strong>doordachte eerste stap</strong> waarmee je verder kunt</li>
                    </ul>
                </div>

                <div class="download-button">
                    <a (click)="buttonClicked.emit()" class="btn scroll-to call-to-action call-to-action-colored">Gratis
                        Download</a>
                </div>


            </div>

            <div class="col-md-4 e-book-container-right">
                <div class="text-center">
                    <img src="../../../../../assets/images/ebook/App_idee_maar_waar_te_beginnen.png"
                         class="img-fluid"
                         alt="Responsive image">
                </div>

            </div>

        </div>
    </div>
</section>
