<section class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-12 e-book-container-top">
                <div class="text-center">
                    <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                         class="img-fluid"
                         alt="Responsive image">
                </div>

            </div>

            <div class="col">
                <div class="lead text-dark">
                    <strong>Idee voor een app</strong>, maar geen idee waar te beginnen?
                </div>

                <div class="list">
                    <ul class="list-icon list-icon-check list-icon-colored mt-3">
                        <li>Ontdek de wetten van winstgevende websites</li>
                        <li>De beste conversie optimalisatie tips en technieken van dit moment</li>
                        <li><strong>Neurowebdesign</strong> technieken voor meer leads, klanten en omzet!</li>
                        <li>Voorkom deze Conversie-Killers waardoor je veel klanten misloopt...</li>
                        <li>Stap-voor-stap blauwdruk voor de meest effectieve <strong>landingspagina's</strong></li>
                        <li>Vervang 'AIDA' met de TIPS Formule voor effectievere copywriting</li>
                        <li>Anatomie van de ideale opt-in pagina en conversieprocessen</li>
                        <li><strong>Praktische voorbeelden</strong> van effectieve websites en marketingfunnels</li>
                        <li>Creëer succesvolle productlanceringen met '<strong>timed content</strong>'</li>
                        <li>Haal meer leads uit je bestaande bezoekers met integratie marketing</li>
                        <li>Zo maak je een <strong>marketing funnel</strong> (die dagelijks omzet oplevert)</li>
                    </ul>
                </div>

                <div class="download-button">
                    <a class="btn scroll-to call-to-action call-to-action-colored">Gratis
                        Download</a>
                </div>


            </div>

            <div class="col-md-4 e-book-container-right">
                <div class="text-center">
                    <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                         class="img-fluid"
                         alt="Responsive image">
                </div>

            </div>

        </div>
    </div>
</section>
