<section class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-12 e-book-container-top">
                <div class="text-center">
                    <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                         class="img-fluid"
                         alt="Responsive image">
                </div>

            </div>

            <div class="col">
                <div class="lead text-dark">
                    <strong>Idee voor een app</strong>, maar geen idee waar te beginnen?
                </div>

                <div class="list">
                    <ul class="list-icon list-icon-check list-icon-colored mt-3">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Beautiful nature, and rare feathers!</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Beautiful nature, and rare feathers!</li>
                        <li>Integer molestie lorem at massa</li>
                    </ul>
                </div>

                <div class="download-button mt-5">
                    <a class="btn btn-lg scroll-to call-to-action call-to-action-colored">Gratis
                        Download</a>
                </div>


            </div>

            <div class="col-md-4 e-book-container-right">
                <div class="text-center">
                    <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                         class="img-fluid"
                         alt="Responsive image">
                </div>

            </div>

        </div>
    </div>
</section>
