<!-- Body Inner -->
<div class="body-inner">
  <app-nav-bar></app-nav-bar>

  <app-landing-slider></app-landing-slider>

  <app-webdeal-icons></app-webdeal-icons>

  <app-text-image></app-text-image>

  <app-interruption-quote quote="Lorem ipsum dolor sit amet, Suspendisse condimentum porttitor cursumus!"></app-interruption-quote>

  <app-image-text></app-image-text>

  <app-web-deal-testimonials></app-web-deal-testimonials>

  <!-- <app-shape-divider></app-shape-divider> -->

  <!-- <app-web-deal-brands></app-web-deal-brands> -->

  <app-interruption-quote quote="Lorem ipsum dolor sit amet, Suspendisse condimentum porttitor cursumus!"></app-interruption-quote>

  <app-image-text></app-image-text>

  <app-web-deal-price></app-web-deal-price>

  <app-web-deal-faq></app-web-deal-faq>

  <app-footer></app-footer>

  <app-cookie-bar></app-cookie-bar>
</div>
<!-- end: Body Inner -->
