<section id="problem" class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="heading-text heading-section">
          <h4 data-animate="fadeInLeft"><strong>Mijn online fouten</strong> als startende ondernemer...</h4>
          <p data-animate="fadeInUp">
            Toen ik voor mijzelf begon was mijn eerste gedachte <strong>“Ik moet een website hebben!"</strong>. Dus ik ging aan de slag met
            mijn “online visitekaartje. Ik maakte een mooie website, schreef teksten, voegde wat plaatjes toe en zette
            mijn contactinformatie erop. Klaar!
          </p>

          <p data-animate="fadeInUp">
            Het resultaat? Een prachtige website die mij helemaal niks bracht. Er kwamen nauwelijks bezoekers, doordat ik
            niet in Google gevonden werd. En als er bezoekers kwamen dan gingen ze niet over op actie, doordat ik totaal
            <strong>niet had nagedacht over conversie!</strong>
          </p>

          <p data-animate="fadeInUp">
            Helemaal fout dus! De website moest niet het doel zijn, maar een middel om het te bereiken! Mijn website moet
            niet een “online visitekaartje” zijn, maar virtueel vastgoed. <strong>Een duidelijke vindbare plek </strong> waar bezoekers in en uit lopen en
            overgaan tot actie!
          </p>
          <a class="btn scroll-to" data-animate="fadeInUp" href="#solution">Bekijk oplossing!</a>
        </div>
      </div>
      <div class="col-lg-4 p-5" data-animate="fadeIn">
        <img src="assets/images/bas_gerritsen.jpg" class="img-fluid rounded" title="Website of wenshop laten maken?" alt="Website of wenshop laten maken?" />
        <p class="font-weight-800 text-center">Maak niet dezelfde fouten als ik!</p>
      </div>
    </div>
  </div>
</section>
