<section id="problem" class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="heading-text heading-section">
          <h4 data-animate="fadeInLeft">Mijn online fouten als startende ondernemer...</h4>
          <p data-animate="fadeInUp">
            Toen ik voor mijzelf begon was mijn eerste gedachte “Ik moet een website hebben!". Dus ik ging aan de slag met
            <strong>mijn “online visitekaartje”</strong>. Ik maakte een mooie website, schreef teksten, voegde wat plaatjes toe en zette
            mijn contactinformatie erop. Klaar!
          </p>

          <p data-animate="fadeInUp">
            Het resultaat? Een prachtige website die mij helemaal niks bracht. Er kwamen nauwelijks bezoekers, doordat ik
            <strong>niet in Google</strong> gevonden werd. En als er bezoekers kwamen dan gingen ze niet over op contact, doordat ik totaal
            <strong>niet had nagedacht over conversie</strong>.
          </p>

          <p data-animate="fadeInUp">
            Helemaal fout dus! De website moest niet het doel zijn, maar <strong>een middel om het te bereiken!</strong> Mijn website moet
            niet een “online visitekaartje” zijn, maar virtueel vastgoed. Een duidelijke vindbare plek waar bezoekers in en uit lopen en
            <strong>overgaan op actie!</strong>
          </p>
          <a class="btn scroll-to" data-animate="fadeInUp" href="#solution">Bekijk oplossing!</a>
        </div>
      </div>
      <div class="col-lg-4 p-5" data-animate="fadeIn">
        <img src="assets/images/bas_gerritsen.jpg" class="img-fluid rounded" title="Bas Gerritsen" alt="Bas Geritsen" />
        <p class="font-weight-800 text-center">Maak niet dezelfde fouten als ik!</p>
      </div>
    </div>
  </div>
</section>
