<div
  id="slider"
  class="inspiro-slider slider-halfscreen dots-creative"
  data-height="500"
  data-height-xs="360"
  data-autoplay="2600"
  data-animate-in="fadeIn"
  data-animate-out="fadeOut"
  data-items="1"
  data-loop="true"
  data-autoplay="true"
>
  <!-- Slide 1 -->
  <div class="slide background-image text-dark" style="background-image: url('assets/images/webdeals/website_or_webshop_needed.jpg');">
    <div class="container">
      <div class="slide-captions">
        <!-- Captions -->
        <h1 class="text-uppercase text-medium">Website of Webshop <br> laten maken?</h1>
        <p class="lead">
          Voorkom een slecht design, onvindbaarheid, <br> belabberde security en niet behaalde doelen!
        </p>
        <a class="btn scroll-to" href="#iconBoxes">Bekijk voordelen!</a>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 1 -->
  <!-- Slide 2 -->
  <div
    class="slide background-image"
    style="background-image: url('assets/images/webdeals/roamersoft_webdeal.jpg'); background-position: 50% 50%;"
  >
    <div class="container">
      <div class="slide-captions">
        <!-- Captions -->
        <h1 class="text-uppercase text-medium">Startende <br> Ondernemer?</h1>
        <p class="lead">
          Bereik je doellen met de All-In-One deal <br> speciaal voor de startend ondernemer!
        </p>
        <a class="btn scroll-to" href="#iconBoxes">Bekijk voordelen!</a>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 2 -->
</div>
