<section class="background-blue text-light">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="heading-text heading-section">
                        <h4><strong>Klaar om de eerste stap te zetten?</strong></h4>
                    </div>

                    <p>
                        Wil je nu direct aan de slag met de eerste stap voor jouw app idee? Wil je voorkomen dat de
                        ontwikkeling een stuurloos schip wordt, maar juist werken aan een solide basis voor jouw
                        applicatie?
                    </p>

                    <p>
                        <strong>Download dan nu gratis dit app ontwikkeling e-book!</strong>
                    </p>

                    <div class="download-button">
                        <a (click)="buttonClicked.emit()" class="btn scroll-to call-to-action call-to-action-colored">Download
                            e-book</a>
                    </div>

                </div>

                <div class="col-md-4 e-book-container">
                    <div class="text-center">
                        <img src="../../../../../assets/images/ebook/App_idee_maar_waar_te_beginnen.png"
                             class="img-fluid"
                             alt="Responsive image">
                    </div>

                </div>

            </div>
        </div>
    </div>


</section>
