<section class="background-blue text-light">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-12 e-book-container-top">
                    <div class="text-center">
                        <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                             class="img-fluid"
                             alt="Responsive image">
                    </div>

                </div>

                <div class="col">
                    <div class="heading-text heading-section">
                        <h4><strong>Klaar om jou app idee uit te werken?</strong></h4>
                    </div>

                    <p>
                        Wil je nu direct aan de slag om vele malen meer leads, klanten en omzet uit je website bezoekers
                        te
                        halen? Wil je jouw website omvormen tot een volautomatische online marketing machine die
                        constant
                        resultaat oplevert?
                    </p>

                    <p>
                        <strong>Download dan nu gratis dit conversie optimalisatie e-book!</strong>

                    </p>

                    <a class="btn btn-lg scroll-to call-to-action call-to-action-colored mt-5">Download e-book</a>

                </div>

                <div class="col-md-4 e-book-container-right">
                    <div class="text-center">
                        <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                             class="img-fluid"
                             alt="Responsive image">
                    </div>

                </div>

            </div>
        </div>
    </div>


</section>
