.text-light {
  color: #f8f9fa !important;

  p {
    color: #f8f9fa !important;
  }

  strong {
    color: #f8f9fa !important;

  }
}

.e-book-container-right {
  display: block;

  img {

    position: relative;
    top: -25px;
    max-width: 300px;
  }
}

.e-book-container-top {
  display: none;
}


@media only screen and (max-width: 1024px) {
  section {
    text-align: center;
  }

  .e-book-container-top {
    display: block;
    margin-bottom: 15px;

    img {
      max-width: 200px;
    }
  }

  .e-book-container-right {
    display: none;
  }
}
