<div class="modal-header">
    <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </a>
</div>

<div class="modal-body p-0">
    <div class="container-fluid">
        <!-- Title -->
        <div class="row pb-3">
            <div class="col-lg-12 text-center">
                <h4>50%</h4>
                <h3 class="font-weight-800">Je bent er bijna!</h3>
                <h5>Waar mag ik hem naartoe sturen?</h5>

            </div>
        </div>
        <!-- end: Title -->

        <div class="row pricing-table background-grey pl-0 pr-0">
            <!-- Price card large screens -->
            <div class="col-lg-4 d-none d-lg-block text-center">
                <img src="assets/images/webdeals/App_idee_maar_waar_te_beginnen.png"
                     class="img-fluid"
                     alt="Responsive image">
            </div>
            <!-- end: Price card large screens -->
            <!-- Contact card -->
            <div class="col-lg-8">
                <!-- Contact form -->
                <form *ngIf="showForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input
                                        (input)="getNameOnInput($event)"
                                        type="text"
                                        name="txtName"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': this.nameIsInvalid }"
                                        placeholder="Naam*"
                                        required
                                />
                            </div>
                            <div class="form-group">
                                <input
                                        (input)="getEmailOnInput($event)"
                                        type="text"
                                        name="txtEmail"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': this.emailIsInvalid }"
                                        placeholder="E-mail*"
                                        required
                                />
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end: Contact form -->

                <!-- end: Success message -->
                <div *ngIf="!showForm">
                    <div role="alert" class="alert alert-success text-light">
                        <h4>Gelukt! Het bericht is verzonden.</h4>
                        Ik neem zo spoedig mogelijk contact met je op om een kennismaking in te plannen.
                    </div>
                    <a class="btn btn-block" href="/">Naar Homepagina</a>
                </div>
                <!-- end: Success message -->
            </div>
            <!-- end: Contact card -->
        </div>

        <div class="row background-grey pb-2">
            <div class="col-md-12">
                <div class="form-group download-button">
                    <button (click)="onSubmit()" class="btn">Direct Downloaden</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer text-center">
    <p class="footNote text-muted"><i class="fa fa-lock mr-2"></i> Je gegevens zijn 100% veilig.</p>
</div>
