.modal-header {
  border-bottom: none;
}

.form-container {
  padding: 18px 18px 0 18px;
  cursor: default;
}

.modal-footer {
  border: none;
  display: block;
}

.footNote {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

textarea:active,
input:active,
textarea:focus,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: 1px solid #ced4da;
}

textarea {
  width: 100%;
  min-height: 200px;
}

.download-button {
  margin: auto;
  text-align: center;
}

img {
  max-width: 100px;
}

.percentage {
  position: absolute;
  top: 5px;
  left: 47%;
}

.progress {
  height: 30px;
  margin: 0px 25px 10px 25px;
}

@media only screen and(max-width: 1199px) {
  ::ng-deep.modal-xl {
    max-width: 95%;
  }
}

@media only screen and(max-width: 991px) {
  ::ng-deep.modal-xl {
    max-width: 60%;
  }
}

@media only screen and(max-width: 768px) {
  ::ng-deep.modal-xl {
    max-width: 100%;
  }
}
