<section class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 pl-5 pr-5 mt-4">
                <div class="card">
                    <div class="card-body p-b-3">
                        <div class="text-center">
                            <h4 class="font-weight-800">Virtual Private Server</h4>
                            <p class="text-muted">Je eigen onafhankelijke VPS</p>
                        </div>
                        <div class="card-text">
                            <ul class="list-icon list-icon-check list-icon-colored">
                                <li>2 krachtige processors</li>
                                <li>4 gigabyte aan werkgeheugen</li>
                                <li>150 gigabyte opslagcapaciteit</li>
                                <li>Inclusief .nl domeinnaam</li>
                                <li>Plesk serversoftware licentie</li>
                                <li>Gemakkelijk over te dragen</li>
                                <li>Maandelijks opzegbaar *</li>
                            </ul>
                        </div>

                        <div class="mt-3">
                            <span class="h1">€ 40,-</span>
                            <span class="text-muted"> p.m.</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="plus-sign">
                <i class="fa fa-plus"></i>
            </div>

            <div class="col-lg-5 pl-5 pr-5 mt-4">
                <div class="card">
                    <div class="card-body p-b-0">
                        <div class="text-center">
                            <h4 class="font-weight-800">Serverbeheer en onderhoud</h4>
                            <p class="text-muted">De all-in-one oplossing voor jouw server </p>
                        </div>
                        <div class="card-text">
                            <ul class="list-icon list-icon-check list-icon-colored">
                                <li>Installatie en configuratie</li>
                                <li>Live test- en productieomgeving</li>
                                <li>Proactive (error) monitoring</li>
                                <li>Beveiligd en up-to-date</li>
                                <li>Volledig geback-upt</li>
                                <li>Periodieke onderhoudsrapportgages</li>
                                <li>Maandelijks opzegbaar *</li>
                            </ul>
                        </div>

                        <div class="mt-3">
                            <span class="h1">€ 65,-</span>
                            <span class="text-muted"> p.m.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6 offset-lg-3">
                <p class="text-muted font-italic text-center">
                    * Met uitzondering van de eerste 6 maanden.
                </p>
                <button (click)="buttonClicked.emit()"
                        class="btn btn-info btn-block scroll-to call-to-action call-to-action">
                    Direct deze totaaloplossing bestellen >
                </button>
            </div>
        </div>
    </div>
</section>
