#dib-posts {
  position: relative;
  min-height: 400px;
}

.loader {
  position: absolute;
  top: 50%;
  margin-top: -5rem;
  left: 50%;
  margin-left: -5rem;
  color: #FD9934;
  width: 3rem;
  height: 3rem;
}
