<section id="faq">
  <div class="container">
    <div class="heading-text heading-line text-center pb-2">
      <h4>Veel Gestelde Vragen</h4>
    </div>
    <div class="row" data-animate="fadeInUp">
      <div class="content col-lg-6 mb-0">
        <div class="accordion accordion-shadow">
          <div class="ac-item">
            <h5 class="ac-title"><i class="fa fa-euro-sign"></i>Wat zijn de kosten voor de hosting en domeinnaam?</h5>
            <div class="ac-content">
              <p>
                Het eerste jaar is <strong>hosting, de domeinnaam, onderhoud en security kosteloos!</strong> Een verlenging bedraagt € 99,-
                per jaar.
              </p>
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title"><i class="fa fa-globe"></i>Ik heb al een domeinnaam, kan ik die gebruiken?</h5>
            <div class="ac-content">
              <p>
                Ja zeker, ik zal dan je domeinnaam <strong>kosteloos verhuizen</strong> van je huidige provider naar de nieuwe provider.
              </p>
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title"><i class="fab fa-cc-mastercard"></i>Welke betaalmethoden worden er ondersteund bij een webshop?</h5>
            <div class="ac-content">
              <p>
                Het betalingssysteem wordt verzorgd door het Nederlandse bedrijf Mollie. Zij ondersteunen alle moderne betalingsmethoden
                zoals <strong>iDEAL, Mastercard, Visa, PayPal</strong> en nog vele andere!
              </p>
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title"><i class="fa fa-images"></i>Wie regelt de teksten, plaatjes en andere content?</h5>
            <div class="ac-content">
              <p>
                Een website of webshop die niet persoonlijk is staat al 2 - 0 achter! Daarom is het verstandig dat je grotendeels
                <strong>zelf de teksten schrijft en andere content aanlevert.</strong> Wel denk ik met je mee! Ik kan je helpen met de
                teksten en het verzamelen van (stock) afbeeldingen.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content col-lg-6 mb-0">
        <div class="accordion accordion-shadow">
          <div class="ac-item">
            <h5 class="ac-title"><i class="fa fa-percentage"></i>Zijn de prijzen in- of exclusief btw?</h5>
            <div class="ac-content">
              <p>Alle getoonde bedragen op deze pagina <strong>zijn exclusief 21% btw.</strong></p>
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title"><i class="fa fa-server"></i>Kan ik mijn site ergens anders laten hosten?</h5>
            <div class="ac-content">
              <p>
                Helaas niet, de WebDeals zijn een <strong>totaaloplossing</strong> om ondernemers te ontzorgen en ze te
                <strong>garanderen van kwaliteit</strong> tot op alle fronten. Zonder de hosting is dit niet mogelijk.
              </p>
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title"><i class="fa fa-plug"></i>Kan mijn leverancier en boekhoudpakket ook gekoppeld worden?</h5>
            <div class="ac-content">
              <p>
                Wellicht, dit is erg afhankelijk van de partijen waarmee je samenwerkt. Dit zouden we even
                <strong>samen kunnen uitzoeken</strong>.
              </p>
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title"><i class="fab fa-whatsapp"></i>Wat kan ik verwachten van "Gratis Support"?</h5>
            <div class="ac-content">
              <p>
                Iets bekijken of wijzigen, maar even kwijt hoe dit ook alweer moest? <strong>Stuur mij een appje!</strong> Ik leg het je
                graag nog even uit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
