<div class="body-inner">
    <app-nav-bar [showScrollToTop]="!showDesktopMagnet" (languageChanged)="languageChanged($event)"></app-nav-bar>

    <app-header [showEbookButton]="magnetEnabled" [currentLang]="currentLang"></app-header>

    <app-cross-platform [currentLang]="currentLang"></app-cross-platform>

    <app-review-quote
            [quote]="'Hij neemt je goed mee in zijn planning & voortgang en belangrijkste, levert kwaliteit.' | translate"
            [name]="'Job van der Lans'"></app-review-quote>

    <app-about-me></app-about-me>

    <app-review-quote
            [quote]="'In welke uithoek van de wereld Bas ook zit, wij kunnen altijd op RoamerSoft bouwen.' | translate"
            [name]="'Maarten Duineveld'"></app-review-quote>

    <app-guarantees [currentLang]="currentLang"></app-guarantees>

    <app-working-method (buttonClicked)="openInfographicCheckout()"
                        [showLeadMagnetButton]="showInfographicButton"></app-working-method>

    <div #magnetTrigger></div>

    <app-review-quote
            [quote]="'Zeer prettig in het contact, snelle reactie en erg goede service!' | translate"
            [name]="'Berry Jansen'"></app-review-quote>

    <app-testimonials></app-testimonials>

    <section *ngIf="currentLang === 'nl'; else quote" id="contact" class="background-blue p-0 contact">
        <div class="container-fluid background-blue p-0">
            <div class="col-lg-10 center p-0">
                <app-type-form *ngIf="screenWidth > this.minimalWidthForDesktopTypeForm; else mobileTypeForm"
                               [formId]="contactFormId"></app-type-form>
                <ng-template #mobileTypeForm>
                    <app-type-form [formId]="contactFormIdMobile"></app-type-form>
                </ng-template>
            </div>
        </div>
    </section>

    <ng-template #quote>
        <app-review-quote
                [quote]="'Een software developer waar je op kan vertrouwen!' | translate"
                [name]="'Wouter Moll'"></app-review-quote>
    </ng-template>

    <app-faq></app-faq>

    <app-footer></app-footer>

    <app-cookie-bar></app-cookie-bar>

    <app-magnet class="magnet-right" (closeMagnet)="showDesktopMagnet = false"
                [@openCloseDesktop]="showDesktopMagnet ? 'open' : 'closed'"></app-magnet>

    <app-magnet class="magnet-top" (closeMagnet)="showMobileMagnet = false"
                [@openCloseMobile]="showMobileMagnet ? 'open' : 'closed'"></app-magnet>
</div>
