<div class="body-inner">
    <app-nav-bar [showScrollToTop]="!showDesktopMagnet" (eBookStatusChanged)="magnetEnabled = $event"></app-nav-bar>

    <app-header [showEbookButton]="magnetEnabled"></app-header>

    <app-cross-platform></app-cross-platform>

    <app-review-quote
            [quote]="'Hij neemt je goed mee in zijn planning & voortgang en belangrijkste, levert kwaliteit.' | translate"
            [name]="'Job van der Lans'"></app-review-quote>

    <app-about-me></app-about-me>

    <app-review-quote
            [quote]="'In welke uithoek van de wereld Bas ook zit, wij kunnen altijd op RoamerSoft bouwen.' | translate"
            [name]="'Maarten Duineveld'"></app-review-quote>

    <div #magnetTrigger></div>
    <app-guarantees></app-guarantees>

    <app-working-method></app-working-method>

    <app-review-quote
            [quote]="'Zeer prettig in het contact, snelle reactie en erg goede service!' | translate"
            [name]="'Berry Jansen'"></app-review-quote>

    <app-testimonials></app-testimonials>

    <app-review-quote
            [quote]="'Een software developer waar je op kan vertrouwen!' | translate"
            [name]="'Wouter Moll'"></app-review-quote>

    <app-contact></app-contact>

    <app-faq></app-faq>

    <app-footer></app-footer>

    <app-cookie-bar></app-cookie-bar>

    <app-magnet class="magnet-right" (closeMagnet)="showDesktopMagnet = false"
                [@openCloseDesktop]="showDesktopMagnet ? 'open' : 'closed'"></app-magnet>

    <app-magnet class="magnet-top" (closeMagnet)="showMobileMagnet = false"
                [@openCloseMobile]="showMobileMagnet ? 'open' : 'closed'"></app-magnet>

</div>

