<!-- Body Inner -->
<div class="body-inner">
  <app-nav-bar></app-nav-bar>

  <app-home-header></app-home-header>

  <app-welcome></app-welcome>

  <app-about></app-about>

  <app-breaker [text]="'Kies voor een full stack software developer, gespecialiseerd in cross platform mobiele apps en web development.' | translate"></app-breaker>

  <app-services></app-services>

  <app-technologies></app-technologies>

  <app-breaker [text]="'Geen ongemakkelijke nerd, maar een ondernemer die met je meedenkt, adviseert en zijn vak verstaat.' | translate"></app-breaker>

  <app-clients></app-clients>

  <app-portfolio></app-portfolio>

  <app-breaker [text]="'Geen ongemakkelijke nerd, maar een ondernemer die met je meedenkt, adviseert en zijn vak verstaat.' | translate"></app-breaker>

  <app-contact></app-contact>

  <app-faq></app-faq>

  <app-footer></app-footer>

  <app-cookie-bar></app-cookie-bar>
</div>
<!-- end: Body Inner -->
