<!-- SERVICES -->
<section id="services" class="background-grey">
  <div class="container" data-animate="fadeInUp">
    <div class="heading-text heading-section text-center">
      <h2>{{'Services' | translate}}</h2>
    </div>
    <div class="no-padding equalize" data-equalize-item=".text-box">
      <div class="row">
        <!--Box 1-->
        <div class="col-lg-4 p-0" data-animate="fadeInLeft">
          <div class="text-box web shadow-sm box">
            <a>
              <i class="fa fa-desktop"></i>
              <h3>{{ 'Web Development' | translate }}</h3>
              <p class="lead">
                {{
                  'Cross platform, no installation and fast responding are just a few advantages of web applications. RoamerSoft builds custom systems that are perfectly tailored to your processes. Did you know that web applications can also work offline?'
                    | translate
                }}
              </p>
            </a>
          </div>
        </div>
        <!--End: Box 1-->
        <!--Box 2-->
        <div class="col-lg-4 pl-3 pr-3" data-animate="fadeInUp">
          <div class="text-box app shadow-sm box">
            <a>
              <i class="fa fa-mobile-alt "></i>
              <h3>{{ 'App Development' | translate }}</h3>
              <p class="lead">
                {{
                  'RoamerSoft builds the mobile app which fully meets your requirements. A cross platform app which runs on Android, IOS and on the web? It is all possible with the latest technologies and your users keep their native experience that they are used to.'
                    | translate
                }}
              </p>
            </a>
          </div>
        </div>
        <!--End: Box 2-->
        <!--Box 3-->
        <div class="col-lg-4 p-0" data-animate="fadeInRight">
          <div class="text-box wp shadow-sm box">
            <a>
              <i class="fab fa-wordpress"></i>
              <h3>{{ 'WordPress Deals' | translate }}</h3>
              <p class="lead">
                {{
                  'A website or web shop is the face of your company, your online business card. It ensures your customers that they can find you online or that they can buy your products. RoamerSoft builds the website or web shop which suites your needs perfectly.'
                    | translate
                }}
              </p>
            </a>
          </div>
        </div>
        <!--End: Box 3-->
      </div>
    </div>
  </div>
</section>
<!-- end: SERVICES -->
