$webColor: #1abc9c;
$appColor: #3498db;
$wdColor: #ff9e30;

.no-pointer{
  cursor: default !important;
}

strong {
  font-weight: 700;
}

.text-box {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  transition: background 0.4s ease 0s;
  cursor: pointer;

  p {
    color: #4a4a4a;
    min-height: 200px;
  }

  h3 {
    color: #112770;
  }
}

.box {
  background-color: white;
  border-top: 1px solid #e6e8eb;
  border-left: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
}

.web {
  a {
    i {
      background-color: $webColor;
      padding: 1rem 1.3rem;
      border-radius: 5px;
      color: white;
    }
  }
}

.app {
  a {
    i {
      background-color: $appColor;
      padding: 1rem 1.8rem;
      border-radius: 5px;
      color: white;
    }
  }
}


.wd {
  a {
    i {
      background-color: $wdColor;
      padding: 1rem 1.3rem;
      border-radius: 5px;
      color: white;
    }
  }
}

@media only screen and (max-width: 1199px) {
  p {
    min-height: 290px !important;
  }
}

@media only screen and(max-width: 991px) {
  .col-lg-4 {
    padding: 0.5rem 0 !important;
  }

  p {
    min-height: 0 !important;
  }
}
