<section id="services" class="background-grey">
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>{{ 'Services' | translate }}</h2>
    </div>
    <div class="no-padding equalize" data-equalize-item=".text-box">
      <div class="row">
        <!--Box 1-->
        <div class="card text-center shadow-sm col-lg-4 web p-0" data-animate="fadeInLeft">
          <div class="card-body">
            <i class="fa fa-desktop"></i>

            <h3 class="card-title">{{ 'Web Development' | translate }}</h3>
            <p class="card-text lead">
              {{
                'Your own reservation system, inventory management system, customer system or whatever system you need. I build your custom web application which perfectly supports your processes. Platform independent, no installation needed and with the fastest response time.'
                  | translate
              }}
            </p>
            <a href="#footer" class="btn scroll-to">{{ 'Contact Me' | translate }}</a>
          </div>
        </div>
        <!--End: Box 1-->
        <!--Box 2-->
        <div class="card text-center shadow-sm col-lg-4 app p-0" data-animate="fadeInUp">
          <div class="card-body">
            <i class="fa fa-mobile-alt"></i>

            <h3 class="card-title">{{ 'App Development' | translate }}</h3>
            <p class="card-text lead">
              {{
                'Need an app with support for mobile phone, tablets and pc? Do you need it to be available on the Apple App Store as well as on the Google Play Store? I create your cross-platform app which runs on every device and I make it available for download in the both app stores.'
                  | translate
              }}
            </p>
            <a href="#footer" class="btn scroll-to">{{ 'Contact Me' | translate }}</a>
          </div>
        </div>
        <!--End: Box 2-->
        <!--Box 3-->
        <div class="card text-center shadow-sm col-lg-4 wd p-0" data-animate="fadeInRight">
          <div class="card-body">
            <i class="fa fa-cube"></i>

            <h3 class="card-title">{{'The' | translate}} WebDeals!</h3>
            <p class="card-text lead">
              {{
                'Avoid common mistakes when creating a Website or Web Shop with a RoamerSoft WebDeal! The total solution in where everything is taken care of. Especially designed for the starting entrepreneurs!'
                  | translate
              }}
            </p>
            <a href="/webdeals" class="btn scroll-to">{{ 'Checkout' | translate }} WebDeals!</a>
          </div>
        </div>
        <!--End: Box 3-->
      </div>
    </div>
  </div>
</section>
