$webColor: #1abc9c;
$appColor: #3498db;
$wdColor: #ff9e30;

.card-body {
  p {
    min-height: 225px;
  }
}

.web {
  .card-body {
    i {
      background-color: $webColor;
      padding: 1rem 1.3rem;
      font-size: 30px;
      border-radius: 5px;
      color: white;
      margin-bottom: 10px;
    }
  }
}

.app {
  .card-body {
    i {
      background-color: $appColor;
      padding: .8rem 1.8rem;
      font-size: 35px;
      border-radius: 5px;
      color: white;
      margin-bottom: 10px;
    }
  }
}

.wd {
  .card-body {
    i {
      background-color: $wdColor;
      padding: .8rem 1.3rem;
      font-size: 35px;
      border-radius: 5px;
      color: white;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .card-body {
    p {
      min-height: 300px;
    }
  }
}

@media only screen and(max-width: 991px) {
  .card-body {
    p {
      min-height: 0;
    }
  }
}
