<section id="services" class="background-grey">
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>{{ 'Services' | translate }}</h2>
    </div>
    <div class="no-padding equalize" data-equalize-item=".text-box">
      <div class="row">
        <!--Box 1-->
        <div class="col-lg-4 p-0" data-animate="fadeInLeft">
          <div class="text-box web shadow-sm box no-pointer">
            <a>
              <i class="fa fa-desktop"></i>
              <h3>{{ 'Web Development' | translate }}</h3>
              <p class="lead">
                {{
                  'Your own reservation system, inventory management system, customer system or whatever system you need. I build your custom web application which perfectly supports your processes. Platform independent, no installation needed and with the fastest response time.'
                    | translate
                }}
              </p>
            </a>
            <a href="#footer" class="btn btn-rounded btn-outline scroll-to">{{ 'Contact Me' | translate }}</a>
          </div>
        </div>
        <!--End: Box 1-->
        <!--Box 2-->
        <div class="col-lg-4 pl-3 pr-3" data-animate="fadeInUp">
          <div class="text-box app shadow-sm box no-pointer">
            <a>
              <i class="fa fa-mobile-alt"></i>
              <h3>{{ 'App Development' | translate }}</h3>
              <p class="lead">
                {{
                  'Need an app with support for mobile phone, tablets and pc? Do you need it to be available on the Apple App Store as well as on the Google Play Store? I create your cross-platform app which runs on every device and I make it available for download in the both app stores.'
                    | translate
                }}
              </p>
            </a>
            <a href="#footer" class="btn btn-rounded btn-outline scroll-to app">{{ 'Contact Me' | translate }}</a>
          </div>
        </div>
        <!--End: Box 2-->
        <!--Box 3-->
        <div class="col-lg-4 p-0" data-animate="fadeInRight">
          <div class="text-box wd shadow-sm box no-pointer">
            <a>
              <i class="fa fa-cubegit"></i>
              <h3>{{'The' | translate}} WebDeals!</h3>
              <p class="lead">
                {{
                  'Avoid common mistakes when creating a Website or Web Shop with a RoamerSoft WebDeal! The total solution in where everything is taken care of. Especially designed for the starting entrepreneurs!'
                    | translate
                }}
              </p>
            </a>
            <a href="/webdeals" title="RoamerSoft WebDeals!" class="btn btn-rounded btn-outline scroll-to">{{ 'Checkout' | translate }} WebDeals!</a>
          </div>
        </div>
        <!--End: Box 3-->
      </div>
    </div>
  </div>
</section>
