<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider pt-0 slider-fullscreen dots-creative">
  <!-- Slide 1 -->
  <div class="slide kenburns" data-bg-image="/assets/images/roamersoft/roamersoft-bg.jpg">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="slide-captions text-center text-dark">
        <div class="roamersoft-text"><img class="img-fluid" src="/assets/images/roamersoft/roamersoft-text.svg" alt="{{ 'Web and App Development' | translate }}" title="{{ 'Web and App Development' | translate }}" /></div>
        <hr />
        <!-- Captions -->
        <h1 class="services">
          <span class="text-rotator mb-0" data-animation="fadeIn" data-speed="5000">{{ 'Web and App Development' | translate }}, {{"Mobile App Development" | translate}}, {{"Web Application Development" | translate}}, {{"WordPress Development" | translate}}</span>
        </h1>
        <div><a href="#welcome" class="btn scroll-to">{{"EXPLORE MORE" | translate}}</a></div>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->
