.bg-overlay {
  background: none;
}

.roamersoft-text {
  max-width: 450px;
  margin: auto;
}

.services {
  font-size: 2em !important;
  font-weight: 550 !important;
  margin: 1rem 0 !important;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f93;
  margin: 32px auto 0 auto;
}

.inspiro-slider .slide .container,
.inspiro-slider .slide .container-wide {
  padding-top: 0;
  margin-top: -30px;
}

// On larger screens only
@media only screen and (min-width: 1025px) {
  .services {
    margin: 0 0 1.5rem 0 !important;
  }
}
