<section id="technologies">
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>{{ 'Technologieën' | translate }}</h2>
    </div>
    <div class="row justify-content-center" data-animate="fadeInUp">
      <div>
        <ul class="grid grid-5-columns">
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Angular developer"
              title="Angular Frontend FrameWork"
              src="assets/images/technologies/angular_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Docker developer"
              title="Docker Containers"
              src="assets/images/technologies/docker_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Nodejs developer"
              title="Nodejs Development"
              src="assets/images/technologies/nodejs_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Ionic developer"
              title="Ionic Mobile Development"
              src="assets/images/technologies/ionic_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Nest developer"
              title="Nest Backend Framework"
              src="assets/images/technologies/nest_developer.png"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
