<section id="technologies">
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>{{ 'Technologieën' | translate }}</h2>
    </div>
    <div class="row justify-content-center" data-animate="fadeInUp">
      <div>
        <ul class="grid grid-5-columns">
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Angular Developer"
              title="Angular Frontend FrameWork"
              src="assets/images/technologies/angular_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Ionic Developer"
              title="Ionic Mobile Development"
              src="assets/images/technologies/ionic_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Nodejs Developer"
              title="Nodejs Development"
              src="assets/images/technologies/nodejs_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Docker Developer"
              title="Docker Containers"
              src="assets/images/technologies/docker_developer.png"
            />
          </li>

          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Javascript Developer"
              title="JavaScript developer"
              src="assets/images/technologies/javascript_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="TypeScript Developer"
              title="TypeScript developer"
              src="assets/images/technologies/typescript_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Apple Developer"
              title="Hybrid Apple iOS Apps"
              src="assets/images/technologies/apple_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Hybrid Android Apps"
              title="Android"
              src="assets/images/technologies/android_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Socket.io Developer"
              title="Socket.io Websockets"
              src="assets/images/technologies/socketio_developer.png"
            />
          </li>
          <li>
            <img
              data-toggle="tooltip"
              data-placement="top"
              alt="Nest Developer"
              title="Nest Backend Framework"
              src="assets/images/technologies/nest_developer.png"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
