<section id="dream">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <!-- Member card only on large screens -->
        <app-member-card class="margin-top d-none d-sm-none d-lg-block"></app-member-card>
        <!-- end: Member card only on large screens -->
      </div>
      <div class="col-lg-8">
        <h4 class="m-b-10">{{ 'About My' | translate }}</h4>
        <h2 class="m-b-10">{{ 'Dream' | translate }}</h2>
        <p class="lead">
          {{
            'Quite cold! Is what I say out loud while I am standing in the water to my hips. Come on Bas! You are standing here for ages, is what I am telling myself. What should those people think of me? 1, 2, 3… Splash! I dive into the water and take a couple of strokes. A feeling of freedom and happiness is rushing through my veins. I swim to the surface with a big smile on my face. I take in my famous sea star position and start floating on the salty sea. I hate my life, is what I am saying laughing loudly.'
              | translate
          }}
        </p>
        <p class="lead">
          {{
            'My thoughts bring me back to the last 6 months. I have been working so hard on that mobile application for my client who lives in the Netherlands. I spent all my time and passion in this project, working fully remote from my apartment in Sydney, Australia. My client is happy as hell, the last invoice is paid and I am totally ready for the next adventure. Backpacking! This time I am going to New Zealand for 3 months and 3 months to the USA afterwards. I will end up in New York eventually and start working for 6 months again. I am going to be working on my own application this time which is standing in the top 10 of both the Apple App Store and the Google Play Store.'
              | translate
          }}
        </p>
        <p class="lead">
          {{
            'Happily, I swim back to the beach. I see my friends standing ready with a couple of ice-cold beers. Yeah, this is my life. My life being a ‘Digital Nomad’!'
              | translate
          }}
        </p>
        <p class="lead">
          {{
            'The dream standing above developed through the years until what it is now. It went fast especially while I was studying. I learned what is really important in life and that there is no need to do what everybody else is doing. I learned which possibilities there are to accomplish my dream and after my study it was time to go for it.'
              | translate
          }}
        </p>
        <p class="lead">
          {{
            'I have chosen to combine my 2 biggest passions. Software development and traveling. Making applications with the newest technologies and creating possibilities for my clients with it. Making a difference in an organization with my technical solutions. Doing this while traveling, without having a final destination. Making the world my home, living as a'
              | translate
          }}

          <a
            ><strong
              class="roamer"
              data-toggle="tooltip"
              data-placement="top"
              title="{{
                'Someone who likes to move around and travel, especially without a clear idea of what they want to do.' | translate
              }}"
              >roamer</strong
            ></a
          >.
          {{ 'With this thought, RoamerSoft was born!' | translate }}
        </p>
        <p class="lead">
          {{
            'Nowadays, I am proud to tell that I have helped multiple of my clients to mobile apps, advanced web applications, web shops and websites. Besides, I have seen a big part of Southeast Asia. I guess this is a nice start, right?'
              | translate
          }}
        </p>
        <p class="lead font-italic">
          Bas Gerritsen
        </p>
        <!-- Member card only on mobile screens -->
        <app-member-card class="max-width d-sm-block d-lg-none"></app-member-card>
        <!-- end: Member card only on large screens -->
      </div>
    </div>
  </div>
</section>
