<div
        id="slider"
        class="inspiro-slider slider-halfscreen dots-creative dots-grey"
        data-height="475"
        data-height-xs="360"
        data-autoplay="2600"
        data-animate-in="false"
        data-animate-out="false"
        data-arrows="false"
        data-animate="false"
        data-items="1"
        data-loop="false"
        data-autoplay="false"
>
    <div
            class="slide background-image"
            style="background-image: url('assets/images/Bas-Gerritsen-New-York.jpg'); background-position: 30% 65%;"
    >
        <div class="bg-overlay" data-style="0"></div>

        <div class="container pt-0">
            <div class="captions">
                <!-- Captions -->
                <h1 class="">
                    App laten ontwikkelen?
                </h1>
                <p class="lead">
                    Ben jij een ondernemer en je hebt een webapplicatie of <br> mobiele app nodig die je helpt je doelen
                    te bereiken?
                </p>
                <div class="cta-button">
                    <a class="btn scroll-to call-to-action call-to-action-colored">Meer informatie</a>
                </div>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
</div>
