<section id="guarantees" class="p-b-50">
    <div class="container">
        <div class="col-lg-8 m-b-80 center">
            <div class="text-center pb-2">
                <h3>{{ 'Bij mij ben je altijd' | translate }}</h3>
            </div>
            <div class="heading-text heading-section text-center">
                <h2>{{ 'Verzekerd van' | translate }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box medium fancy" data-animate="fadeInLeft">
                    <div class="icon">
                        <i class="fa fa-heart red"></i>
                    </div>
                    <h3>{{ 'Betrokkenheid en advies' | translate }}</h3>
                    <p [innerHTML]="'Geen simpele codeklopper, maar een ondernemer die met je mee denkt en je <strong>voorziet van advies</strong>.' | translate"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy" data-animate="fadeInLeft">
                    <div class="icon">
                        <i class="fa fa-code blue"></i>
                    </div>
                    <h3>{{ 'Kwaliteitsproducten' | translate }}</h3>
                    <p [innerHTML]="'Een gedegen ontwerp, solide funderingen efficiënte codering verzekeren <strong>de hoogste kwaliteit</strong>.' | translate"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy" data-animate="fadeInLeft">
                    <div class="icon">
                        <i class="fa fa-check green"></i>
                    </div>
                    <h3>{{ 'Top projectmanagement' | translate }}</h3>
                    <p [innerHTML]="'Laat mij je ontzorgen met een duidelijke planning, to-the-point communicatie en <strong>proactiviteit</strong>.' | translate"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box medium fancy" data-animate="fadeInRight">
                    <div class="icon">
                        <i class="fa fa-hourglass-half purple"></i>
                    </div>
                    <h3>{{ 'Toekomstbestendigheid' | translate }}</h3>
                    <p [innerHTML]="'Uitbreidbaarheid en overdraagbaarheid maken jouw applicatie onafhankelijk en <strong>toekomstbestendig</strong>.' | translate"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy" data-animate="fadeInRight">
                    <div class="icon">
                        <i class="fa fa-diagnoses orange"></i>
                    </div>
                    <h3>{{ 'Een totaaloplossing' | translate }}</h3>
                    <p [innerHTML]="'Als full stack software developer neem ik zowel de <strong>front-end als de backend</strong> voor mijn rekening.' | translate"></p>
                </div>
            </div>
            <div class="col-lg-4 mb-0 pb-0">
                <div class="icon-box medium fancy" data-animate="fadeInRight">
                    <div class="icon">
                        <i class="fa fa-project-diagram brown"></i>
                    </div>
                    <h3>{{ 'Een cross-platform app' | translate }}</h3>
                    <p [innerHTML]="'Een applicatie die draait op Android, iOS en op het web dankzij de nieuwste <strong>cross-platform technologieën</strong>.' | translate"></p>
                </div>
            </div>

            <div class="col-12 text-center m-0 p-0" data-animate="fadeInUp" data-animate-delay="300">
                <div class="cta-button">
                    <a *ngIf="currentLang === 'nl'; else foreignLang" href="gratis-adviesgesprek" target="_blank"
                       class="btn call-to-action call-to-action-colored">{{ 'Nu vrijblijvend kennismaken' | translate }}</a>
                    <ng-template #foreignLang>
                        <a href="mailto:info@roamersoft.com"
                           class="btn scroll-to call-to-action call-to-action-colored">{{ 'Nu vrijblijvend kennismaken' | translate }}</a>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>
</section>
