.pricing-table .plan.featured {
  margin-top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border-bottom: none;
}

.plan-price {
  padding: 0 0 0 20px !important;
}

.pricing-table {
  padding: 18px 18px 0 18px;
  cursor: default;
}

.pricing-table .plan {
  margin-bottom: 18px;
  min-height: 473px;
}

.btw {
  margin-top: -15px;
}

strong {
  color: black;
}

.modal-footer {
  border: none;
  display: block;
}

.footNote {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

textarea:active,
input:active,
textarea:focus,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: 1px solid #ced4da;
}

textarea {
  width: 100%;
  min-height: 200px;
}

.card {
  height: calc(100% - 18px);
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and(max-width: 1199px) {
  ::ng-deep.modal-xl {
    max-width: 95%;
  }
}

@media only screen and(max-width: 991px) {
  ::ng-deep.modal-xl {
    max-width: 60%;
  }
}

@media only screen and(max-width: 768px) {
  ::ng-deep.modal-xl {
    max-width: 100%;
  }
}
