/* You can add global styles to this file, and also import other style files */
.grecaptcha-badge {
  display: none;
}

strong {
  font-weight: 900 !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


.cta-button {
  padding-left: 15px;

  a {
    transform: scale(1.2);
  }

  a:hover {
    transform: scale(1.3);
  }
}

.magnet {
  position: absolute;
  bottom: 0;
  right: 0;
}

u {
  text-decoration: underline;
}

.close {
  padding: 5px !important;
  cursor: pointer;
}

/* ---------------------------------------------------------------
   Google Fonts
-----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,500,600,700,800|Nunito:300,400,600,700,800');
