<section id="prices" class="p-t-120 p-b-120 background-grey">
  <div class="container">
    <div class="col-lg-8 m-b-80 center">
      <div class="heading-text heading-section text-center">
        <h4>Klaar om je doel te bereiken?</h4>
        <h2><strong>Kies Jou WebDeal!</strong></h2>
      </div>
    </div>
    <hr class="space" />
    <div class="row pricing-table">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan" data-animate="fadeInUp">
          <div class="plan-header pb-0 mb-0">
            <h4 class="font-weight-800">Webshop Plus Deal</h4>
            <p class="text-muted">De vol automatische webshop!</p>
            <h2 class="rateit-selected rateit-preset text-center p-0 m-0">★★★★★</h2>
            <div class="plan-price">1295,-</div>
          </div>
          <div class="plan-list">
            <ul class="list-icon list-icon-check list-icon-colored">
              <li>Een Premium Design</li>
              <li>SEO en CRO Optimalisatie</li>
              <li>Live Bezoeker Statistieken</li>
              <li>Eigen Domeinnaam en E-mail</li>
              <li>Super Snelle Hosting</li>
              <li>Alles Veilig en Secure</li>
              <li>Spoedcursus WordPress</li>
              <li>Gratis Support</li>
              <li>Betaalsysteem Integratie</li>
              <li>PostNL of DHL Verzending</li>
              <li>Leverancier Koppeling</li>
              <li>Boekhoudingspakket Koppeling</li>
            </ul>
            <div class="plan-button">
              <a class="btn call-to-action call-to-action-colored" (click)="openCheckout('Webshop Plus Deal')">Kies Webshop Plus Deal!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan featured" data-animate="fadeInUp">
          <div class="plan-header pb-0 mb-0">
            <h4 class="font-weight-800">Webshop Deal</h4>
            <p class="text-muted">De perfecte starters webshop!</p>
            <h2 class="rateit-selected rateit-preset text-center p-0 m-0">★★★★</h2>
            <div class="plan-price">995,-</div>
          </div>
          <div class="plan-list">
            <ul class="list-icon list-icon-check list-icon-colored">
              <li>Een Premium Design</li>
              <li>SEO en CRO Optimalisatie</li>
              <li>Live Bezoeker Statistieken</li>
              <li>Eigen Domeinnaam en E-mail</li>
              <li>Super Snelle Hosting</li>
              <li>Alles Veilig en Secure</li>
              <li>Spoedcursus WordPress</li>
              <li>Gratis Support</li>
              <li>Betaalsysteem Integratie</li>
              <li>PostNL of DHL Verzending</li>
            </ul>
            <div class="plan-button">
              <a class="btn call-to-action call-to-action-colored" (click)="openCheckout('Webshop Deal')">Kies Webshop Deal!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan" data-animate="fadeInUp">
          <div class="plan-header pb-0 mb-0">
            <h4 class="font-weight-800">Website Deal</h4>
            <p class="text-muted">De website die je doelen realiseert!</p>
            <h2 class="rateit-selected rateit-preset text-center p-0 m-0">★★★</h2>
            <div class="plan-price">695,-</div>
          </div>
          <div class="plan-list">
            <ul class="list-icon list-icon-check list-icon-colored">
              <li>Een Premium Design</li>
              <li>SEO en CRO Optimalisatie</li>
              <li>Live Bezoeker Statistieken</li>
              <li>Eigen Domeinnaam en E-mail</li>
              <li>Super Snelle Hosting</li>
              <li>Alles Veilig en Secure</li>
              <li>Spoedcursus WordPress</li>
              <li>Gratis Support</li>
            </ul>
            <div class="plan-button">
              <a class="btn call-to-action call-to-action-colored" (click)="openCheckout('Website Deal')">Kies website Deal!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
