<section class="p-t-120 p-b-120 background-grey">
  <div class="container">
    <div class="col-lg-8 m-b-100 center">
      <div class="heading-text heading-section text-center">
        <h4>Klaar om je doel te bereiken?</h4>
        <h2>Bekijk de WebDeals hieronder!</h2>
      </div>
    </div>
    <hr class="space" />
    <div class="row pricing-table">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan">
          <div class="plan-header">
            <h4>Webshop Plus Deal</h4>
            <p class="text-muted">Plan short description</p>
            <h2 class="rateit-selected rateit-preset text-center p-0 m-0">★★★★★</h2>
            <div class="plan-price">1295,-</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fas fa-globe-americas"></i>Unlimited Websites</li>
              <li><i class="fa fa-thumbs-up"></i>Unlimited Storage</li>
              <li><i class="fa fa-signal"></i>Unlimited Bandwidth</li>
              <li><i class="fa fa-user"></i>1000 Email Addresses</li>
              <li><i class="fa fa-star"></i>Free domain with annual plan</li>
              <li><i class="fa fa-rocket"></i>4X Processing Power</li>
              <li><i class="fa fa-server"></i>Premium DNS</li>
            </ul>
            <div class="plan-button">
              <a href="#" class="btn">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan featured">
          <div class="plan-header">
            <h4>Webshop Deal</h4>
            <p class="text-muted">Plan short description</p>
            <h2 class="rateit-selected rateit-preset text-center p-0 m-0">★★★★</h2>
            <div class="plan-price">995,-</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fas fa-globe-americas"></i>Unlimited Websites</li>
              <li><i class="fa fa-thumbs-up"></i>Unlimited Storage</li>
              <li><i class="fa fa-signal"></i>Unlimited Bandwidth</li>
              <li><i class="fa fa-user"></i>1000 Email Addresses</li>
              <li><i class="fa fa-star"></i>Free domain with annual plan</li>
              <li><i class="fa fa-rocket"></i>4X Processing Power</li>
              <li><i class="fa fa-server"></i>Premium DNS</li>
            </ul>
            <div class="plan-button">
              <a href="#" class="btn">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan">
          <div class="plan-header">
            <h4>Website Deal</h4>
            <p class="text-muted">Plan short description</p>
            <h2 class="rateit-selected rateit-preset text-center p-0 m-0">★★★</h2>
            <div class="plan-price">695,-</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fas fa-globe-americas"></i>Unlimited Websites</li>
              <li><i class="fa fa-thumbs-up"></i>Unlimited Storage</li>
              <li><i class="fa fa-signal"></i>Unlimited Bandwidth</li>
              <li><i class="fa fa-user"></i>1000 Email Addresses</li>
              <li><i class="fa fa-star"></i>Free domain with annual plan</li>
              <li><i class="fa fa-rocket"></i>4X Processing Power</li>
              <li><i class="fa fa-server"></i>Premium DNS</li>
            </ul>
            <div class="plan-button">
              <a href="#" class="btn">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
