<section class="background-blue text-light">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="heading-text heading-section">
                        <h4><strong>Wil jij een gratis adviesgesprek?</strong></h4>
                    </div>

                    <p>
                        Wil jij komen tot nieuwe inzichten door een expert die met je meedenkt? Wil je voorkomen dat je
                        de verkeerde keuzes maakt, maar juist een waardevolle eerste stap zetten naar de ontwikkeling
                        van jouw applicatie?
                    </p>

                    <p>
                        <strong>Plan dan nu een gratis adviesgesprek!</strong>
                    </p>

                    <!-- Only on mobile -->
                    <div class="col-md-4 e-book-container d-md-none">
                        <div class="text-center">
                            <img src="assets/images/ebook/App_idee_maar_waar_te_beginnen_RoamerSoft.png"
                                 class="img-fluid"
                                 alt="Responsive image">
                        </div>
                    </div>
                    <!-- end: Only on mobile -->

                    <div class="download-button">
                        <a (click)="buttonClicked.emit()" class="btn scroll-to call-to-action call-to-action-colored">Plan
                            gratis adviesgesprek</a>
                    </div>

                </div>

                <!-- Only on large screens -->
                <div class="col-md-4 e-book-container d-none d-md-block">
                    <div class="text-center">
                        <img src="assets/images/ebook/App_idee_maar_waar_te_beginnen_RoamerSoft.png"
                             class="img-fluid"
                             alt="Responsive image">
                    </div>
                </div>
                <!-- end: Only on large screens -->

            </div>
        </div>
    </div>


</section>
