<section id="testimonials" class="background-grey">
  <div class="container">
    <div class="heading-text text-center">
      <h4>Deze</h4>
      <h2><strong>Tevreden Ondernemers</strong></h2>
      <h4>gingen je al voor!</h4>
    </div>
    <!-- Testimonials -->
    <div
      class="carousel arrows-visibile testimonial testimonial-single testimonial-left"
      data-arrows="false"
      data-items="1"
      data-autoplay="true"
      data-loop="true"
      data-autoplay="3500"
    >
      <!-- Testimonials item -->
      <div class="testimonial-item">
        <img src="assets/images/webdeals/timmyscarpboatproducts.jpg" title="Startende ondernemer" alt="Startende ondernemer" />
        <p>
          Ik ben erg blij met het werk wat Bas heeft verricht! Dankzij de <strong>Webshop Deal</strong> verkoop ik meer producten en kan ik
          efficiënter werken.<br />
          <strong>Super bedankt broertje!</strong>
        </p>
        <span>Tim Gerritsen</span>
        <span>www.timmyscarpboatproducts.nl</span>
      </div>
      <!-- end: Testimonials item-->
      <!-- Testimonials item -->
      <div class="testimonial-item">
        <img src="assets/images/webdeals/timmyscarpboatproducts.jpg" title="Startende ondernemer" alt="Startende ondernemer" />
        <p>
          Ik ben erg blij met het werk wat Bas heeft verricht! Dankzij de <strong>Webshop Deal</strong> verkoop ik meer producten en kan ik
          efficiënter werken.<br />
          <strong>Super bedankt broertje!</strong>
        </p>
        <span>Tim Gerritsen</span>
        <span>www.timmyscarpboatproducts.nl</span>
      </div>
      <!-- end: Testimonials item-->
      <!-- Testimonials item -->
      <div class="testimonial-item">
        <img src="assets/images/webdeals/timmyscarpboatproducts.jpg" title="Startende ondernemer" alt="Startende ondernemer" />
        <p>
          Ik ben erg blij met het werk wat Bas heeft verricht! Dankzij de <strong>Webshop Deal</strong> verkoop ik meer producten en kan ik
          efficiënter werken.<br />
          <strong>Super bedankt broertje!</strong>
        </p>
        <span>Tim Gerritsen</span>
        <span>www.timmyscarpboatproducts.nl</span>
      </div>
      <!-- end: Testimonials item-->
    </div>
    <!-- end: Testimonials -->
  </div>
</section>
