<section id="clients" class="p-t-60">
  <div class="container gray">
    <div class="heading-text heading-section text-center">
      <h2>{{'Clients' | translate}}</h2>
    </div>
    <div
      class="carousel client-logos"
      data-items="5"
      data-items-sm="2"
      data-items-xs="2"
      data-items-xxs="2"
      data-margin="30"
      data-arrows="false"
      data-autoplay="true"
      data-autoplay="3000"
      data-loop="true"
    >
      <div>
        <a target="_blanc" href="https://www.wtinteractive.com/"><img  alt="WT Interactive" src="assets/images/clients/wt_interactive.png" /> </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.dallingarealestate.com/"><img class="custom-padding" alt="Dallinga Real Estate" src="assets/images/clients/dallinga_real_estate.png" /> </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.pronkgeschenken.nl/"><img alt="Pronk Juweel" src="assets/images/clients/pronk_juweel.png" /> </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.epipay.nl/"><img class="custom-padding" alt="Epipay" src="assets/images/clients/epipay.png" /> </a>
      </div>
      <div>
        <a target="_blanc" href="https://brainssoftware.nl/"><img alt="BRAINS Software" src="assets/images/clients/brains_software.png" /> </a>
      </div>
      <div>
        <a target="_blanc" href="https://storytemple.com/"><img class="pt-4" alt="StoryTemple" src="assets/images/clients/storytemple.png" /> </a>
      </div>
      <div>
        <a target="_blanc" href="https://www.timmyscarpboatproducts.nl/"><img alt="Timmy's Carpboat Products" src="assets/images/clients/timmys_carpboat_products.png" /> </a>
      </div>
    </div>
  </div>
</section>
