<div class="team-members team-members-card">
  <div class="team-member">
    <div class="team-image">
      <img src="assets/images/bas_gerritsen.jpg" />
    </div>
    <div class="team-desc">
      <h3>Bas Gerritsen</h3>
      <span>{{'Software Developer' | translate}}</span>
      <p>{{'Please feel free to contact me.' | translate}}</p>
      <div class="align-center">
        <a class="btn btn-xs btn-slide btn-light" target="_blanc" href="http://www.linkedin.com/in/gerritsenb/" data-width="118">
          <i class="fab fa-linkedin"></i>
          <span>LinkedIn</span></a
        >
        <a class="btn btn-xs btn-slide btn-light" target="_blanc" href="https://api.whatsapp.com/send?phone=+31612791550&text=" data-width="100">
          <i class="fab fa-whatsapp"></i>
          <span>WhatsApp</span></a
        >
        <a class="btn btn-xs btn-slide btn-light" target="_blanc" href="mailto:info@roamersoft.com" data-width="80">
          <i class="icon-mail"></i>
          <span>Mail</span></a
        >
      </div>
    </div>
  </div>
</div>
