<header
        id="header"
        data-transparent="true"
        data-responsive-fixed="true"
        class="light submenu-light"
        [ngClass]="{'header-sticky sticky-active' : conversionMode}"
>
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="/" class="scroll-to">
                    <img
                            src="/assets/images/roamersoft/roamersoft-logo.svg"
                            class="logo-default pt-3 pb-3"
                            alt="RoamerSoft logo"
                    />
                </a>
            </div>
            <!--End: Logo-->
            <!--Header Extras-->
            <div *ngIf="!conversionMode" class="header-extras">
                <ul>
                    <li *ngIf="this.currentLang === 'nl'; else nlFlag">
                        <!-- Show EN flag -->
                        <img (click)="switchLang('en')" class="flag-icon" src="/assets/flags/en.png"/>
                    </li>
                    <ng-template #nlFlag>
                        <!-- Show NL flag -->
                        <li>
                            <img (click)="switchLang('nl')" class="flag-icon" src="/assets/flags/nl.png"/>
                        </li>
                    </ng-template>
                </ul>
            </div>
            <!--end: Header Extras-->
            <!--Navigation Responsive Trigger-->
            <div id="mainMenu-trigger">
                <a *ngIf="!conversionMode" class="lines-button x"><span class="lines"></span></a>
            </div>
            <!--end: Navigation Responsive Trigger-->
            <!--Navigation-->
            <div *ngIf="!conversionMode" id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="#aboutMe" class="scroll-to">{{ 'Over mij' | translate }}</a>
                            </li>

                            <li>
                                <a href="#services" class="scroll-to">{{ 'Mijn aanbod' | translate }}</a>
                            </li>

                            <li>
                                <a href="#workingMethod" class="scroll-to">{{ 'Mijn werkwijze' | translate }}</a>
                            </li>

                            <li>
                                <a href="#reviews" class="scroll-to">{{ 'Reviews' | translate }}</a>
                            </li>
                            
                            <li *ngIf="showEbookItem">
                                <a href="app-idee-maar-waar-te-beginnen" target="_blank"
                                   class="scroll-to">{{ 'Mijn e-book' | translate }}</a>
                            </li>

                            <li>
                                <a href="#contact" class="scroll-to">{{ 'Contact' | translate }}</a>
                            </li>

                            <li>
                                <a href="#faq" class="scroll-to">{{ 'FAQ' | translate }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
        <!--Social icons-->
        <li *ngIf="!conversionMode" class="d-none d-sm-block">
            <div class="social-icons social-icons-colored-hover">
                <ul>
                    <li class="social-facebook">
                        <a href="https://www.facebook.com/RoamerSoft-287897755483538" target="_blanc"
                        ><i class="fab fa-facebook-f"></i
                        ></a>
                    </li>
                    <li class="social-linkedin">
                        <a href="https://www.linkedin.com/company/19186536" target="_blanc"
                        ><i class="fab fa-linkedin"></i
                        ></a>
                    </li>
                    <li class="social-instagram">
                        <a href="https://www.instagram.com/roamersoftnl/" target="_blanc"
                        ><i class="fab fa-instagram"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </li>
        <!--end: Social icons-->
    </div>
</header>
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
