<header
  id="header"
  data-transparent="true"
  data-responsive-fixed="true"
  class="light submenu-light"
>
  <div class="header-inner">
    <div class="container">
      <!--Logo-->
      <div id="logo">
        <a *ngIf="homePage" href="#slider" class="scroll-to">
          <img
            src="/assets/images/roamersoft/roamersoft-logo.svg"
            class="logo-default pt-3 pb-3"
            alt="RoamerSoft logo"
          />
        </a>
        <a *ngIf="!homePage" href="/" class="scroll-to">
          <img
            src="/assets/images/roamersoft/roamersoft-logo.svg"
            class="logo-default pt-3 pb-3"
            alt="RoamerSoft logo"
          />
        </a>
      </div>
      <!--End: Logo-->
      <!--Header Extras-->
      <div *ngIf="!webDealPage" class="header-extras">
        <ul>
          <li *ngIf="this.currentLang === 'en'">
            <img (click)="switchLang('nl')" class="flag-icon" src="/assets/flags/nl.png" />
          </li>
          <li *ngIf="this.currentLang === 'nl'">
            <img (click)="switchLang('en')" class="flag-icon" src="/assets/flags/en.png" />
          </li>
        </ul>
      </div>
      <!--end: Header Extras-->
      <!--Navigation Resposnive Trigger-->
      <div id="mainMenu-trigger">
        <a class="lines-button x"><span class="lines"></span></a>
      </div>
      <!--end: Navigation Resposnive Trigger-->
      <!--Navigation-->
      <div id="mainMenu">
        <div class="container">
          <nav>
            <ul>
              <li *ngIf="!webDealPage">
                <a href="#welcome" class="scroll-to">Software</a>
              </li>
              <li *ngIf="webDealPage">
                <a href="#iconBoxes" class="scroll-to">Voordelen</a>
              </li>
              <li *ngIf="webDealPage">
                <a href="#problem" class="scroll-to">Mijn fout</a>
              </li>
              <li *ngIf="webDealPage">
                <a href="#solution" class="scroll-to">Totaaloplossing</a>
              </li>
              <li *ngIf="webDealPage">
                <a href="#brands" class="scroll-to">Merken en Systemen</a>
              </li>
              <li *ngIf="webDealPage">
                <a href="#prices" class="scroll-to">WebDeals</a>
              </li>
              <li *ngIf="webDealPage">
                <a href="#faq" class="scroll-to">Faq</a>
              </li>
              <li *ngIf="!webDealPage" class="dropdown">
                <a href="#about" class="scroll-to">{{ 'Over mij' | translate }}</a>
              </li>
              <li *ngIf="!webDealPage" class="dropdown">
                <a href="#services" class="scroll-to">{{ 'Services' | translate }}</a>
                <ul *ngIf="!webDealPage" class="dropdown-menu">
                  <li>
                    <a href="#services" class="scroll-to">{{ 'Web ontwikkeling' | translate }}</a>
                  </li>
                  <li>
                    <a href="#services" class="scroll-to">{{ 'App ontwikkeling' | translate }}</a>
                  </li>
                  <li>
                    <a href="/webdeals" class="scroll-to"
                      >{{ 'WebDeals' | translate }}<span class="badge badge-danger">NEW</span></a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a *ngIf="!webDealPage" href="#portfolio" class="scroll-to">{{
                  'Portfolio' | translate
                }}</a>
              </li>
              <li>
                <a *ngIf="!webDealPage" href="#contact" class="scroll-to">{{
                  'Contact' | translate
                }}</a>
              </li>
              <li>
                <a *ngIf="!webDealPage" href="#faq" class="scroll-to">{{
                  'FAQ' | translate
                }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--end: Navigation-->
    </div>
    <!--Social icons-->
    <li *ngIf="!webDealPage" class="d-none d-sm-block">
      <div class="social-icons social-icons-colored-hover">
        <ul>
          <li class="social-facebook">
            <a href="https://www.facebook.com/RoamerSoft-287897755483538" target="_blanc"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li class="social-linkedin">
            <a href="https://www.linkedin.com/company/19186536" target="_blanc"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="social-github">
            <a href="https://github.com/RoamerSoft" target="_blanc"
              ><i class="fab fa-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
    <!--end: Social icons-->
  </div>
</header>
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
